.cartPeek{
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  width: 100%;
  /* padding: 40px 40px 0; */
  @include breakpoint-min(calc-rem(500)) {
    width: 520px;
  }
}
.cartPeek_header{
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0;
}
.cartPeek_title {
  display: block;
  & .icon {
    padding: 8px;
    background-position: -67px -7px;
    margin-right: 10px;
  }
}
.closeBtn {
  border: none;
  text-indent: -100px;
  overflow: hidden;
  width: 20px;
  height: 20px;
  background-position: -63px -58px;
  cursor: pointer;
}

.cartPeek_BtnWrapper{
  position: absolute;
  display: flex;
  bottom: 0;
  left:0;
  right: 0;
  height: 150px;
  width: 100%;
  background: #F5F5F7;
  justify-content: center;
  align-items: center;
  @include breakpoint-min(calc-rem(768)) {
    justify-content: flex-end;
  }
}
.cartPeek_price {
  width:  100%;
  padding: 0 20px;
  @include breakpoint-min(calc-rem(768)) {
    width: 280px;
  }
}
.cartPeek_priceOverview {
  display: flex;
  justify-content: space-between;
  & span{
    padding-left: 10px;
  }
  @include breakpoint-min(calc-rem(768)) {
    justify-content: flex-end;
  }
}
.cartPeek_products {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 150px;
  padding: 10px 20px 0px;
  overflow-y: auto;
  margin-top: 30px;
}
.rmProdBtn {
  font-size: calc-rem(13);
  margin-top: 10px;
  text-decoration: underline;
  border: none;
  text-align: left;
  padding: 0;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.cartPeek_empty {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & span {
    border: 2px solid #000;
    border-radius: 0;
    padding: 5px 20px;
    margin-top: 10px;
  }
}
.prdRemovemOption {
  margin-top: 5px;
  margin-left: -10px;
  & span {
    font-size: calc-rem(12);
    margin-right: 10px;
    padding: 0 10px;
    text-decoration: underline;
    cursor: pointer;
  }
}