<template>
  <div class="loggedin_user">
    <h4 class="futuraMedium">Shipping Address</h4>
    <!-- <cart-newaddress
      v-if="!addressList.length || newAddress"
      :showCancel="addressList.length? true: false"
      @saveAddress="saveAddress"
      @closeNewAddress="newAddress = false" /> -->
    <cart-addresslist :addressList=addressList @onAddress="onAddresSelected"/>
    <cart-address-overview
      v-if="!newAddress"
      @newAddress="gotoNewAddress"
      @proceed="gotoPayment"
      :selectedAddress="selectedAddress"
      :toProceed="toProceed"></cart-address-overview>
  </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex'
import CartAddresslist from './components/cartAddressList'
/* import CartNewaddress from './components/cartNewAddress' */
import CartAddressOverview from './components/cartAddressOverview'
export default {
  name: 'CartAddress',
  layout: 'cartLayout',
  middleware: 'cartAddressMiddleware',
  components: {
    CartAddresslist,
    /* CartNewaddress, */
    CartAddressOverview
  },
  data() {
    return {
      newAddress: false
    }
  },
  async asyncData({ app, store }) {
    try {
      await store.dispatch('cart/getAddressList')
    } catch (error) {
      console.log(error)
    }
  },
  mounted() {
    if (!this.addressList.length) {
      this.$router.push('/checkout/newaddress')
    }
    if (this.addressId) {
      this.onAddresSelected(this.addressId)
    }
  },
  methods: {
    saveAddress() {
      console.log('address is saved')
    },
    onAddresSelected(id) {
      this.$store.dispatch('cart/onAddressSelect', id)
    },
    handleCurrencyMismatch(error) {
      const confirm = window.confirm(error.message)
      if (confirm) {
        this.$store.dispatch('updateCurrency', error.meta.detected_currency)
      }
    },
    gotoPayment() {
      this.$store.dispatch('cart/getOrderID')
        .then(() => {
          this.$router.push('/checkout/payment')
        })
    },
    gotoNewAddress() {
      /* this.newAddress = true */
      this.$router.push('/checkout/newaddress')
    }
  },
  computed: {
    ...mapState({
      addressList: state => state.cart.addressList,
      toProceed: state => state.cart.toProceed,
      cartErrors: state => state.cart.cartErrors,
      addressId: state => state.cart.selectedAddress
    }),
    ...mapGetters({
      selectedAddress: 'cart/selectedAddObj'
    })
  },
  watch: {
    cartErrors(error) {
      if (error && error.error_type === 'CurrencyMismatchError') {
        this.handleCurrencyMismatch(error)
      }
    }
  }
}
</script>
