<template>
  <div>
    <login-form />
    <div class="formWrapper">
      <h2>New User</h2>
    </div>
  </div>
</template>
<script>
import LoginForm from '~/components/loginComponents/login'
export default {
  name: 'CartLogin',
  layout: 'cartLayout',
  components: {
    LoginForm
  }
}
</script>
