<template>
  <div class="loggedin_user">
    <h4 class="futuraMedium">Shipping Address</h4>
    <cart-newaddress
      :showCancel="addressList.length? true: false" />
  </div>
</template>
<script>
import { mapState } from 'vuex'
import CartNewaddress from './components/cartNewAddress'
export default {
  name: 'CartNewAddress',
  layout: 'cartLayout',
  components: {
    CartNewaddress
  },
  computed: {
    ...mapState({
      addressList: state => state.cart.addressList
    })
  }
}
</script>
