<template>
  <div class="loggedin_user">
    <h4 class="futuraMedium">Payment Section</h4>
    <payment-tabs></payment-tabs>
  </div>
</template>
<script>
import PaymentTabs from './components/paymentTabs'
export default {
  name: 'CartPayment',
  layout: 'cartLayout',
  middleware: 'cartPaymentMiddleware',
  components: {
    PaymentTabs
  },
  async asyncData({ app, store }) {
    try {
      await store.dispatch('cart/getPaymentModes')
    } catch (error) {
      console.log(error)
    }
  }
}
</script>
