<template>
  <div style="text-align:center">
    Waiting...
    <h3>
      {{ msg }}
    </h3>
  </div>
</template>
<script>
/* function statusCheck(app, orderId) {
  return app.$externalApi.statusPooling({ 'order_id': orderId })
}
function poll(fn, timeout, interval) {
  const endTime = Number(new Date()) + (timeout || 2000)
  interval = interval || 100
  const checkCondition = function (resolve, reject) {
    const asynFn = fn()
    asynFn.then(function (response) {
      if (response.data.status) {
        if (response.data.status === 'PSUC') {
          resolve(response)
        } else if (response.data.status === 'PFAL') {
          reject(response)
        } else if (response.data.status === 'PPEN' && Number(new Date()) < endTime) {
          setTimeout(checkCondition, interval, resolve, reject)
        } else {
          reject(response)
        }
      } else {
        reject()
      }
    })
  }
  return new Promise(checkCondition)
} */
export default {
  name: 'PaymentResponse',
  async asyncData({ query, app, redirect }) {
    if (query.order_id) {
      try {
        const paymentObj = {
          'order_id': query.order_id ? encodeURIComponent(query.order_id) : false,
          status: query.status ? encodeURIComponent(query.status) : false,
          'status_id': query.status_id ? encodeURIComponent(query.status_id) : false,
          signature: query.signature ? encodeURIComponent(query.signature) : false,
          'signature_algorithm': query.signature_algorithm ? encodeURIComponent(query.signature_algorithm) : false
        }
        const response = await app.$externalApi.orderComplete(paymentObj)
        if (response.data.order_id) {
          if (response.data.status === 'PSUC') {
            redirect(`/payment/response/success?order_id=${query.order_id}`)
          } else if (response.data.status === 'PFAL') {
            redirect(`/payment/response/failure?order_id=${query.order_id}`)
          } else if (response.data.status === 'PPEN') {
            redirect(`/payment/response/success?order_id=${query.order_id}`)
            /* poll(function () {
              return statusCheck()
            }, 2000, 150).then(function (poolData) {
              redirect(`/payment/response/success?order_id=${query.order_id}`)
            }).catch(function (error) {
              redirect(`/payment/response/failure?order_id=${query.order_id}`)
            }) */
          } else {
            redirect(`/payment/response/failure?order_id=${query.order_id}`)
          }
        }
      } catch (error) {
        redirect(`/payment/response/failure?order_id=${query.order_id}`)
      }
    } else {
      return { msg: 'justPayResponse: order id not found' }
    }
  }
}
/* console.log(count)
  const max = 5
  const response = await promiseWrapper((count + 1))
  console.log(response)
  if (max <= count) {
    console.log('returing')
    console.log(response)
    return new Promise(resolve => resolve(response))
  } else {
    await pooling((count + 1))
  } */
</script>
