<template>
    <div>
        <span class="profile_header_subtitle">Sadly, you haven't placed any order till now.</span>
        <!--<a href="#" class="primary_button profile_start_shopbtn">Start Shopping</a>-->
        <button class="primary_button continue_checkoutbtn">Start Shopping</button>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
