<template>
    <div class="order_details_body" >
        <div class="row">
            <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3 productCard order_prroductCard">
                                <div class="productImg">
                                    <figure>
                                        <img :src="productData.image" alt="">
                                    </figure>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <div class="order_product_info">
                                        <span class="order_product_name futuraBook"><button class="button" @click="()=>this.$router.push('/product/'+productData.product_id)">{{ productData.name }}</button></span>
                                        <span class="order_product_brand futuraBook">{{ productData.color_name }}</span>
                                        <span class="order_product_size FuturaBTBook">Size : <span class="product_size">{{ productData.size }}</span> / Qty : <span class="product_quantity">{{ productData.quantity }}</span></span>
                                    </div>
                        </div>
                        <div class="col-md-3">
                          <span class="order_product_price">
                            <span v-html="currencyIcon(productData.currency)"></span>
                            {{ productData.price }}
                          </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 order_delivery_status">
                        <div class="order_status">
                                <span class="order_status_green">{{productData.status}}</span>
                                    <span class="order_delivery_date" >{{ millisecondsToDate(productData.timeline[(productData.timeline.length)-1].process_date) }}</span>
                        </div>
                        <!-- <button class="order_action" v-if="productData.actions.return_allowed" @click="getQuestions('return')">Return</button>
                        <button class="order_action" v-if="productData.actions.cancel_allowed" @click="getQuestions('cancel')">Cancel</button> -->
                        <CancelReturnModel v-if="isVisible && productData.actions.cancel_allowed" @close="isVisible = false">
                            <h6 slot="header" class="futuraMedium">Cancel Order</h6>
                            <div slot="body" class="futuraMedium">
                                <p v-if="errors.length">
                                    <b>Please correct the following error(s):</b>
                                    <ul>
                                    <li :key="errors.indexOf(error)" v-for="error in errors" >{{ error }}</li>
                                    </ul>
                                </p>
                                <select v-model="selected" class="required">
                                    <option :key="questions.issue_id" v-for="questions in issues" v-bind:value="questions.issue_id">{{ questions.description }}</option>
                                </select>
                                <!-- <div slot="body" v-if="type !== 'COD'">
                                    <label>Account Name:</label>
                                    <input type="text" placeholder="account name" v-model="accountName" />
                                    <label>Account Number:</label>
                                    <input type="text" placeholder="account number" v-model="accountNumber" />
                                    <label>Ifsc code:</label>
                                    <input type="text" placeholder="ifsc code" v-model="ifsc" />
                                </div> -->
                                <button class="profile_order_details_button" slot="body" @click="cancel">Confirm</button>
                            </div>
                        </CancelReturnModel>
                        <CancelReturnModel v-if="isVisible && productData.actions.return_allowed" @close="isVisible = false" >
                            <h6 slot="header" class="futuraMedium">Return Order</h6>
                            <div slot="body" class="futuraMedium">
                                <p v-if="errors.length">
                                    <b>Please correct the following error(s):</b>
                                    <ul>
                                    <li :key="errors.indexOf(error)" v-for="error in errors" >{{ error }}</li>
                                    </ul>
                                </p>
                                <select v-model="selected" class="required">
                                    <option :key="questions.issue_id" v-for="questions in issues" v-bind:value="questions.issue_id">{{ questions.description }}</option>
                                </select>
                                <div v-if="type === 'COD'"  style="display: flex;flex-direction: column;padding-top: 10px">
                                    <label style="padding-top: 10px">Account Name:</label>
                                    <input type="text" placeholder="account name" v-model="accountName" style="width: 300px;padding-top: 10px" />
                                    <label style="padding-top: 10px">Account Number:</label>
                                    <input type="number" placeholder="account number" v-model="accountNumber" style="width: 300px;padding-top: 10px" />
                                    <label style="padding-top: 10px">Ifsc code:</label>
                                    <input type="text" placeholder="ifsc code" v-model="ifsc" style="width: 300px;padding-top: 10px" />
                                </div>
                                <button class="profile_order_details_button" @click="returnProduct">Confirm</button>
                            </div>
                        </CancelReturnModel>
                        <CancelReturnModel v-if="returnMessage" @close="returnMessage = false">
                          <h3 slot="body" class="futuraMedium">{{ show }}</h3>
                        </CancelReturnModel>
                </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment'
import CancelReturnModel from './CancelReturnModel'
export default {
  props: {
    productData: {
      type: Object,
      default() {
        return {}
      }
    },
    type: {
      type: String
    }
  },
  data() {
    return {
      isVisible: false,
      issues: {},
      selected: '',
      show: '',
      accountName: '',
      accountNumber: '',
      ifsc: '',
      errors: [],
      returnMessage: false
    }
  },
  name: 'OrderItem',
  components: {
    CancelReturnModel
  },
  methods: {
    millisecondsToDate(ms) {
      return moment(ms).format('DD MMM YYYY')
    },
    getQuestions(action) {
      this.$externalApi.CancelReturnQueries({ vendor_order_id: this.productData.vendor_order_id, action })
        .then((response) => {
          console.log(response)
          this.issues = response.data
          this.isVisible = true
        })
    },
    cancel() {
      this.errors = []

      if (!this.selected) {
        this.errors.push('Please select reason')
      } else {
        const cancelObj = {
          vendor_order_id: this.productData.vendor_order_id,
          issue_id: this.selected
        }
        // alert(this.selected)
        this.$externalApi.initiateCancel(cancelObj)
          .then((response) => {
            console.log(response)
            this.show = response.data.message
            this.isVisible = false
            alert(this.show)
          })
      }
    },
    returnProduct() {
      this.errors = []
      const lengthMsg = 'Name should be atleast 5 character'
      const charMsg = 'Name should contain only Alpha characters'
      if (!/[\w\s]{5}/i.test(this.accountName.trim())) {
        this.errors.push(lengthMsg)
      }
      if (!/^[A-Z\s]+$/i.test(this.accountName.trim())) {
        this.errors.push(charMsg)
      }
      const accountNumMsg = 'Account number should be between 9 to 18 digits'
      if (!/^[0-9]{9,18}$/i.test(this.accountNumber.trim())) {
        this.errors.push(accountNumMsg)
      }
      // const nameregex = /[[A-Z/a-z]\s]{5}/i
      // if (!(nameregex).test(this.accountName)) {
      //   this.errors.push('Account Name should be atleast 5 alpha characters')
      // }
      if (!this.accountNumber) {
        this.errors.push('Account Number required.')
      }
      const ifscregex = /^[A-Za-z]{4}[a-zA-Z0-9]{7}$/
      if (!(ifscregex).test(this.ifsc)) {
        this.errors.push('Correct Ifsc required.')
      }
      if (!this.selected) {
        this.errors.push('Please select reason')
      }
      if (this.errors.length === 0) {
        if (this.type !== 'COD') {
          const returnObj = {
            vendor_order_id: this.productData.vendor_order_id,
            issue_id: this.selected
          }
          // alert(this.selected)
          this.$externalApi.initiateReturn(returnObj)
            .then((response) => {
              console.log(response)
              this.show = response.data.message
              this.isVisible = false
              alert(this.show)
            })
        } else {
          const returnObj = {
            vendor_order_id: this.productData.vendor_order_id,
            issue_id: this.selected,
            account_name: this.accountName,
            account_number: this.accountNumber,
            ifsc_code: this.ifsc
          }
          // alert(returnObj.ifsc_code)
          this.$externalApi.initiateReturn(returnObj)
            .then((response) => {
              console.log(response.message)
              this.show = response.message
              this.isVisible = false
              this.returnMessage = true
              // alert(this.show)
            })
        }
      }
    },
    currencyIcon(currencyCode) {
      const currencyObj = this.$store.state.currencyList.find(currency => currency.currency_code === currencyCode)
      return currencyObj.currency_symbol
    }
  }
}
</script>

<style scoped>
.button {
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    /*border is optional*/
    cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  color: green
}
</style>
