<template>
    <!--<div>
        <div class="main">
            <div class="sub1">
                <p id="orderid">Order ID : CD1892</p>
                <p id="orderedon">Placed on 21 Jan 2019</p>
            </div>
            <div class="sub1">
                <button>Track</button>
                <button>Details</button>
            </div>
        </div>
        <Child />
    </div>-->
                <div class="order_details_card">
                    <div class="order_details_header">
                        <ul>
                            <li>Order ID : <span class="order_id">{{ orderList.order_id }}</span></li>
                            <li>Placed on  <span class="order_placed_date">{{ getDateinFormat(orderList.created) }}</span></li>
                        </ul>
                        <button class="profile_order_details_button" @click="getDetails">Details</button>
                        <Modal v-if="isModalVisible" @close="isModalVisible = false" :details="details">
                        <div slot="header">
                            <h6 class="futuraMedium">Order ID: {{ orderList.order_id }}</h6>
                            <p class="futuraBook" id="orderDate">Placed on: {{ getDateinFormat(orderList.created) }}</p>
                        </div>
                        <h6 slot="body">Shipping Address: {{ orderList.address.address_1 }}, {{ orderList.address.address_2 }} {{ orderList.address.city }} {{ orderList.address.state }}-{{ orderList.address.pincode }}</h6>
                        <div slot="body" v-for="amount in orderList.amount" :key="amount.index" >
                            <h6 class="futuraMedium">{{amount.label}}: {{ amount.value }}</h6>
                        </div>
                            <!-- <h6>Discount: {{ orderList.amount[1].value }}</h6>
                            <h6>Shipping: {{ orderList.amount[2].value }}</h6> -->
                        <!-- </div> -->
                        <!-- <h6 slot="body">Shipping: Rs. 150</h6> -->
                        <!--<p slot="footer">Total paid: {{ orderList.payment.total_amount + 150 }}</p>-->
                        </Modal>
                        <!--<div class="main">
                            <a href="#" class="profile_order_details_button">Track</a>
                            <a href="#" class="profile_order_details_button sub1">Details</a>
                        </div>-->
                    </div>
                    <OrderItem v-for="product in orderList.products" :key="product.sku" :productData="product" :type="orderList.payment.type" />
                </div>
</template>

<script>
import moment from 'moment'
import OrderItem from './OrderItem.vue'
import Modal from './modal.vue'
// import endpoints from '~/assets/api_endpoint'
export default {
  layout: 'profile',
  props: {
    orderList: { type: Object }
  },
  data() {
    return {
      isModalVisible: false,
      details: {}
    }
  },
  components: {
    OrderItem,
    Modal
  },
  methods: {
    getDateinFormat(date) {
      return moment(date).format('DD MMM YYYY')
    },
    getDetails() {
      this.$externalApi.getOrderDetails({ order_id: this.orderList.order_id })
        .then((response) => {
          console.log(response)
          this.details = response.data
          this.isModalVisible = true
        })
    }
  }
}
</script>

<style>
.main {
    display: flex;
    flex-direction: row;
}
.sub1 {
    margin-left: 10px;
}
#orderDate {
    font-size: 11px;
    color: #878787;
}
</style>
