input {
  &:hover,&:active,&:focus{
    outline: none;
  }
}
button {
  &:hover,&:active{
    outline: none;
  }
}
.blackBtn {
  background: $primaryColor;
  color: $body-bgColor;
  font-size: calc-rem(14);
  border: 2px solid #000;
  font-family: 'futuraMedium';
  border-radius: 0;
  padding-top: .7rem;
  padding-bottom: .7rem;
  font-weight: normal;
  margin: 20px 0;
  &:hover, &:active {
    color: $primaryColor;
    background: $body-bgColor;
  }
}

.inputWrapper_full {
  width: 100%;
}
.inputWrapper {
  margin-top: 20px;
  display: inline-block;
  position: relative;
  & label {
    display: block;
    margin-bottom: 10px;
    font-family: 'futuraBook';
    font-size: calc-rem(14);
  }

  & input {
    border: 2px solid #D5D5D5;
    font-family: 'futuraBook';
    font-size: calc-rem(14);
    width: 100%;
    height: 40px;
    padding: 0 10px;
    
    & ~ .error_msg{
      display: none;
    }

    &.error {
      border: 2px solid $errorColor;
      & ~ .error_msg {
        display: block;
      }
    }
  }
}
.error_msg {
  font-size: calc-rem(11);
  color: $errorColor;
}