.primary_button {
  background: #000;
  color: #fff;
  font-size:calc-rem(14);
  line-height: 41px;
  text-align: center;
  border: 0;
}
.cart_nav {
  justify-content: flex-end;
  width: 100%;
}

.continue_checkoutbtn {
  width:260px;
  margin:20px 0px 30px;
  
  @include breakpoint-max(calc-rem(576)){
    width:100%;
  }
}

.new_user_continuebtn {
  width: 260px;
  
  @include breakpoint-max(calc-rem(576)){
    width: 100%;
  }
}

.cart_productprice_wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 20px; 
  
  @include breakpoint-max(calc-rem(576)){
    align-items: flex-start;
    justify-content: flex-end;
  }
}

.cart_wrapper {
margin-top: 90px; 
margin-bottom: 100px;

@include breakpoint-max(calc-rem(576)){
  margin: 0px 0px 50px 0px;
}
}

.cart_form_section  {
  border-right: 1px solid #f1f0f0;
}

.non_loggedin {
  width: 340px;
  margin:0 auto;
  
  @include breakpoint-max(calc-rem(576)){
    width: 100%;
    margin: 30px auto 20px;
  }

  & h4 {
      font-size: calc-rem(21);
      margin-bottom: 50px;
  }
}

.non_loggedin_form {
  & label {
      font-size: calc-rem(14);
      margin-bottom: 15px;
  }

  & input {
      margin-bottom: 20px;
      width: 260px;
      border:1px solid #d5d5d5;
      
      @include breakpoint-max(calc-rem(576)){
        width:100%;
        height: 50px;
      }
  }
}

.forgot_password_link {
text-align: right;
padding-right: 80px;

@include breakpoint-max(calc-rem(576)){
  padding-right:0;
}
  & a{
      font-size: calc-rem(14);
      color:#878787;
  }
}

.cart_new_user_block {
margin-top: 50px;

@include breakpoint-max(calc-rem(576)){
  margin-top: 40px;
  border-top: 1px solid #f1f0f0;
  padding-top: 40px;
}

& p {
  font-size: calc-rem(14);
  color:#878787;
  margin-bottom: 33px;

  @include breakpoint-max(calc-rem(576)){
    padding-right: 60px;
  }
}
}

.cart_order_section {
padding-left: 50px;

@include breakpoint-max(calc-rem(576)){
  padding: initial;
  //border-bottom: 10px solid #f1f0f0;
}
}

.discount_code_section {
margin-bottom:85px; 
display: flex;

@include breakpoint-max(calc-rem(576)){
  margin-bottom: 50px;
}
& input {
  width: 260px;
  padding: 9px 20px;
  font-size: 14px;
  background: #f1f0f0;
  border: none;
  color: #878787;
}
}

.discount_code_applybtn {
  width: 140px;
  font-size: 14px;
  line-height: 37px;
  margin-left: 10px;
}



.cart_order_details {
& h4 {
  font-size: calc-rem(18);	
  margin-bottom: 50px;
  @include breakpoint-max(calc-rem(576)){
    display: none;
  }
}
}

.cart_order_productcard {
& .productCard {
  margin-bottom: 10px
}
}

.cart_order_value {
padding: 20px 0px;
border-top: 1px solid #f1f0f0;
  & .order_value {
    display: flex;
    align-items:center;
    justify-content:space-between; 
    margin-top: 10px;
    font-size: calc-rem(14);
    & .cartDetail_label {
      font-family: 'futuraBook';
    }
    & .cartDetail_value {
      font-family: 'futuraMedium';
    }
    &:last-child{
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #f1f0f0;
      font-size: calc-rem(19);
      & .cartDetail_label {
        font-family: 'futuraHeavy';
      }
      & .cartDetail_value {
        font-family: 'futuraHeavy';
      }
    }
  }
}

.order_value, .shipping_value, .order_total  {
  
}

.shipping_value {
margin-top: 15px;
}

.order_total {
margin-top: 20px;
& span {
  font-weight: 900;
}
}

.order_total_label {
font-size: calc-rem(19);
}

.order_total_amount {
font-size: calc-rem(22);
}

// logged in user cart style

.loggedin_user {
  padding:0px 20px 0px 15px;

  @include breakpoint-max(calc-rem(576)){
    padding: 0;
  }

h4 {
  font-size:calc-rem(18);
  margin-bottom: 50px;

  @include breakpoint-max(calc-rem(576)){
    margin-top: 40px;
    margin-bottom: 10px;
  }
}
}

.cart_address_form {
& label {
  font-size: calc-rem(14);
  color:#000;
  margin-bottom: 15px;
  margin-top: 20px;
}
}

.cart_custom_input {
padding:0px 5px 0px 15px;
@include breakpoint-max(calc-rem(576)){
  padding: 0 15px;
}

input {
  border:1px solid #d5d5d5;
  border-width: 2px;
  border-radius: 0;
  @include breakpoint-max(calc-rem(576)){
    width:100%;
    height: 50px;
  }
}

label {
  font-size: calc-rem(14);
  margin-top: 20px;

  @include breakpoint-max(calc-rem(576)){
    margin: 30px 0px 15px 0px;
  }
}

select {
  @include breakpoint-max(calc-rem(576)){
    height: 50px;
    }
  }		
}

.cart_address_option {
font-size:calc-rem(14);
color: #878787;
}

.cart_address_button {
margin-top: 10px;
}

.address_selection_input {
select {
  border:1px solid #d5d5d5;
  font-size: calc-rem(14);
}
}

.address_selection_output {
margin-top: 35px;
margin-bottom: 100px;
}

.selected_address_name {
font-size: calc-rem(14);
margin-bottom: 10px;
display: block;
}

.selected_address_mobileno {
font-size: calc-rem(14);
display: block;
}

.selected_address {
font-size: calc-rem(14);
margin-bottom: 10px;
}

.add_address {
margin-top:35px;
}

.add_address_button {
  font-size: calc-rem(14);
  width:260px;
  line-height: 36px;
  background: transparent;
  border: 1px solid #000;
  padding: 1px 7px;
  border-radius: 0;
  border-width: 2px;
}

.shipping_method_description {
p {
  font-size: calc-rem(14);
}
}

.shipping_method_section {
h4 {
  font-size: calc-rem(18);
  margin-bottom: 45px;
}
}

.proac-ul {
padding: 0;
& li {
  list-style: none;
}
}

.proac-ul input[type=radio]{
  display: none;
}

.proac-inrlabel {
  background: none;
  font-size: .84375rem;
  padding-left: 0;
  position: relative;
  font-weight: 300;
  color: #000;
  display: flex;
  align-items: center;
}

.proac-libx[type=radio]:checked+.proac-inrlabel:before {
  height: 20px;
  width: 21px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
}

.proac-libx[type=radio]+.proac-inrlabel:before {
  content: "";
  height: 20px;
  width: 21px;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px 0 0;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.proac-libx[type=radio]:checked+.proac-inrlabel:after {
  content: "";
  height: 14px;
  width: 14px;
  display: block;
  position: absolute;
  border-radius: 50%;
  background: #000000;
  top: 4px;
  margin: auto;
  left: 3px;
}

.method_wrapper {
display: flex;
align-items: baseline;
justify-content: space-between;
width:100%;
  & > .payment_method_price {
    & img {
      width: 20px;
      height: 20px;
    }
  }
}

.shipping_method_price {
width:150px;
}

.continue_payment_button {
  width:260px;
  line-height: 36px;
  border: 2px solid transparent;
  cursor: pointer;
  &:hover {
    background: $body-bgColor;
    border: 2px solid $primaryColor;
    color: $primaryColor;
  }
  &:disabled{
    cursor: not-allowed;
    opacity: .5;
    &:hover {
      background: $primaryColor;
      border: 2px solid $primaryColor;
      color: #fff;
    }
  }
  @include breakpoint-max(calc-rem(576)){
    width: 100%;
  }
}

.back_to_previous {
color: #878787;
font-size:calc-rem(14);
display: block;
text-decoration: none;

&:hover {
  text-decoration: none;
  color: #878787;
}
}

.payment_method_list {
 li {
  border-bottom:1px solid #f5f5f7;
  padding-bottom: 15px;
  margin-top: 15px;
  position: relative;
  padding-left: 35px;
  background: #fff;
  &:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    left: 5px;
    border-radius: 50%;
  }
  &.active {
    &:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background: #000;
      left: 10px;
      border-radius: 50%;
      top: 5px;
    } 
  }
 }

 li {
   &:last-child{
     border-bottom: none;
   }
 }
}

.payment_method_description {
p {
  margin: 0;
}
}

.cart_payment_section {
padding: 0px 30px 0px 15px;

@include breakpoint-max(calc-rem(576)){
  padding: 0;
}
h4 {
  font-size:calc-rem(18); 
  margin-bottom: 60px;

  @include breakpoint-max(calc-rem(576)){
    margin-top: 50px;
  }
}
}

.order_success_menu {
font-size: calc-rem(14);
  display: flex;
  align-items: center;
}

.continue_shopping_button {
display: inline-block;
width: 260px;
color: #fff;

@include breakpoint-max(calc-rem(576)){
  width: 100%;
}

&:hover {
  color:#fff;
  text-decoration: none;
}
}

.desktop_paidstamp {
@include breakpoint-max(calc-rem(576)) {
  display: none;
}
}

.goto_my_order {
  font-size: 0.875rem;
  width: 260px;
  line-height: 36px;
  background: transparent;
  border: 1px solid #000;
  display: block;
  text-align: center;
  color: #000;

  @include breakpoint-max(calc-rem(576)){
    width: 100%;
  }

  &:hover {
    color:#000;
    text-decoration: none;
  }
}

.cart_success_section {
 h1 {
   font-size:calc-rem(38);
   margin-bottom: 30px;

   @include breakpoint-max(calc-rem(576)){
     margin-top: 50px;
   }
 }

 p {
   font-size: calc-rem(14);
   color:#878787;

   a {
     color: #000;
   }
 }
}

.countinue_payment {
margin-top: 45px;
margin-bottom: 50px;
a {
  margin-bottom: 20px;
}
}

.success_shipping_address {
h4 {
  font-size: calc-rem(18);
  margin: 30px 0px;
}

span {
  color:#878787;
  font-size: alc-rem(14);
}
}

.plus_number {
width: 50px !important;
margin-right: 10px;
padding: 10px 5px;
}

.mobile_number_wrapper {
display: flex;
align-items: center;
justify-content: space-between;
}

.personal_detail_form {
padding: 0px 20px 0px 15px;

& h4 {
  margin: 50px 0px 20px;
}
}

.order_detail_accordian {
display: none;
}

.order_details_label {
@include breakpoint-max(calc-rem(576)){
  // margin-bottom: 50px;
  background: #fdfdfd;
  border-bottom: 1px solid #f1f0f0;
}
}

.order_details_mobile_header {
display: none;

@include breakpoint-max(calc-rem(576)){
  display: flex;
  justify-content: space-between;
  font-size:calc-rem(14);
  line-height: 80px;
  margin-bottom: 15px;
}
}

.order_detail_wrapper {
padding: 0px;
@include breakpoint-max(calc-rem(576)){
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s linear;
  }
}

.order_detail_accordian[type=checkbox]:checked + .order_details_label .order_detail_wrapper {
  @include breakpoint-max(calc-rem(576)){
  max-height: 1000px;
  overflow: none;
  transition: max-height 0.3s linear;
  }
}

.mobile_paidstamp {
  top: 20px;
  display: none;

  @include breakpoint-max(calc-rem(576)){
    display: block;
  }
}
/* wallet section */
.bankIcon {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  & img {
    max-width: 100%;
  }
}
.walletSelection {
  display: none;
  & ~ label {
    display: flex;
    align-items: center;
  }
  & ~ label .customRadiobtn {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #000;
    position: relative;
    border-radius: 50%;
    &:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background: #000;
      margin:auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
      display: none;
    }
  }
  &:checked {
    & ~ label .customRadiobtn:before {
      display: block;
    }
  }
}
.paymentError {
  display: none;
  color: red;
  font-size: 14px;
}

.payment_modesWrapper {
  max-height: 0;
  transition: max-height .5s linear;
  overflow: hidden;
  margin-left: -30px;
}
.active {
  & .payment_modesWrapper {
    max-height: 1000px;
    transition: max-height .5s linear;
    overflow: hidden;
  }
}

.netbanking-term {
  font-size: calc-rem(11);
}