<template>
  <div class="desktopLightboxWrapper">
    <div class="lightBoxThumbs">
      <ul class="lightBoxTbumbsList">
        <li v-for="(thumb, index) in prodImages.productSmallImgs" :key="index" @click="thumbClick(index)">
          <figure>
            <img :src="thumb" alt="">
          </figure>
        </li>
      </ul>
    </div>
    <div class="lightboxImgWrapper" @click="closeLightBox">
      <transition  :name="transDirection" mode="out-in">
        <template v-for="(imgSrc, index) in prodImages.productLargeImgs">
          <figure :key="index" v-if="currentIndex === index">
            <img :src="imgSrc" alt="">
          </figure>
        </template>
      </transition>
    </div>
    <!-- <div class="nextPrev">
      <button @click="goPrev()">Prev</button>
      <button @click="goNext()">Next</button>
    </div> -->
  </div>
</template>
<script>
export default {
  name: 'DesktopLightbox',
  props: {
    prodImages: {
      type: Object,
      default() {
        return {
          productLargeImgs: [],
          productSmallImgs: []
        }
      }
    },
    imgIndex: {
      type: Number,
      default() {
        return 0
      }
    }
  },
  data() {
    return {
      show: false,
      currentIndex: this.imgIndex,
      transDirection: ''
    }
  },
  mounted() {
    document.querySelector('body').classList.add('modalOn')
    document.addEventListener('keydown', this.escEvent, false)
  },
  destroyed() {
    document.querySelector('body').classList.remove('modalOn')
    document.removeEventListener('keydown', this.escEvent, false)
  },
  methods: {
    thumbClick(imgIndex) {
      this.transDirection = imgIndex > this.currentIndex ? 'next' : 'prev'
      this.currentIndex = imgIndex
    },
    goNext() {
      this.transDirection = 'next'
      this.currentIndex = (this.currentIndex === this.prodImages.productLargeImgs.length - 1) ? 0 : (this.currentIndex + 1)
    },
    goPrev() {
      this.transDirection = 'prev'
      this.currentIndex = (this.currentIndex === 0) ? (this.prodImages.productLargeImgs.length - 1) : (this.currentIndex - 1)
    },
    closeLightBox() {
      this.$emit('closeLightBox')
    },
    escEvent(e) {
      if (e.keyCode === 27) {
        this.closeLightBox()
      }
    }
  }
}
</script>
