<template>
  <div class="sliderWrapper">
    <div class="close" id="closeBtn" @click="close">
      ×
    </div>
    <no-ssr placeholder="Loading...">
      <carousel :perPage="1">
        <slide>
          <div class="carouselImgWrapper">
            <figure>
              <img src="https://image-cdn.styfi.in/cache/catalog/products/5d0b2d61f04a695d50406a9c_1561013640509_0-188x235.jpg" alt="">
            </figure>
          </div>
        </slide>
        <slide>
          <div class="carouselImgWrapper">
            <figure>
              <img src="https://image-cdn.styfi.in/cache/catalog/products/5d0b2d61f04a695d50406a9c_1561013640513_1-188x235.jpg" alt="">
            </figure>
          </div>
        </slide>
        <slide>
          <div class="carouselImgWrapper">
            <figure>
              <img src="https://image-cdn.styfi.in/cache/catalog/products/5d0b2d61f04a695d50406a9c_1561013640514_3-188x235.jpg" alt="">
            </figure>
          </div>
        </slide>
      </carousel>
    </no-ssr>
  </div>
</template>
<script>
export default {
  name: 'MobileCarousel',
  methods: {
    close() {
      this.$emit('closeLightBox')
    }
  }
}
</script>
