<template>
  <div id="loginForm" class="formWrapper">
    <h2>Alerady a registered user ?</h2>
    <form @submit.prevent="loginEnter">
      <div class="inputWrapper inputWrapper_full">
        <label>Email Address</label>
        <input v-model="email" :class="{'error': emailError}" type="email" name="email">
        <span class="error_msg">
          {{ emailError }}
        </span>
      </div>
      <div class="inputWrapper inputWrapper_full">
        <label>Password</label>
        <input
          v-model="password"
          :class="{'error': passwordError}"
          type="password"
          name="">
        <span class="error_msg">
          {{ passwordError }}
        </span>
      </div>
      <button class="btn btn-block blackBtn">
        Login
      </button>
    </form>
    <nuxt-link to="/forgotPassword" class="anchor anchor_secondry">
      Forgot Password
    </nuxt-link>
  </div>
</template>
<script>
import { validateEmail, validatePassword } from '~/utils'
export default {
  name: 'LoginForm',
  props: {
    redirectURL: {
      type: String,
      default: '/'
    }
  },
  data() {
    return {
      email: '',
      emailError: null,
      password: '',
      passwordError: null
    }
  },
  methods: {
    validate() {
      this.emailError = validateEmail(this.email)
      this.passwordError = validatePassword(this.password)
      return !this.emailError && !this.passwordError
    },
    loginEnter() {
      if (this.validate()) {
        this.performLogin()
      }
    },
    async performLogin() {
      try {
        const data = {
          device_token: '1234',
          device_type: 'web',
          password: this.password,
          username: this.email,
          'first_name': this.name
        }
        const result = await this.$externalApi.login(data)
        const response = result.data
        console.log(response)
        this.$store.dispatch('onLoginSuccess', response)
          .then(() => {
            return this.$store.dispatch('cart/cartSync')
          })
          .then(() => {
            const context = this
            this.$toasted.show('Logged In Sucessfully', {
              position: 'top-center',
              duration: 1000,
              onComplete() {
                if (context.$route.query.referer) {
                  context.$router.push(context.$route.query.referer)
                } else {
                  context.$router.push('/')
                }
              }
            })
          })
      } catch (error) {
        const msg = error.response.data.errors[0].message
        this.$toasted.error(msg, {
          position: 'top-center',
          duration: 1000
        })
      }
    }
  }
}
</script>
