<template>
  <div id="registerForm" class="formWrapper">
    <h2>New User</h2>
    <p>Faster checkout, multiple shipping addresses, track orders and more.</p>
    <form @submit.prevent="registerUser">
      <div class="inputWrapper inputWrapper_full">
        <label>*Full Name</label>
        <input
          v-model="fullname"
          :class="{'error': nameError}"
          type="text"
          name="userName"
          required
          @blur="validateName"
          @keyup="validateName"
        >
        <span ref="fullname" class="error_msg">
          {{ nameError }}
        </span>
      </div>
      <div class="inputWrapper inputWrapper_full">
        <label>*Email Address</label>
        <input
          v-model="email"
          :class="{'error': emailError}"
          type="email"
          name="email"
          required
          @blur="validateEmail"
          @keyup="validateEmail"
        >
        <span ref="email" class="error_msg">
          {{ emailError }}
        </span>
      </div>
      <div class="inputWrapper inputWrapper_full">
        <label>*Password</label>
        <input
          v-model="password"
          :class="{'error': passwordError}"
          type="password"
          name="password"
          required
          @blur="validatePassword"
          @keyup="validatePassword"
        >
        <span ref="password" class="error_msg">
          {{ passwordError }}
        </span>
      </div>
      <button class="btn btn-block blackBtn">
        Register
      </button>
    </form>
  </div>
</template>
<script>
import { validateName, validateEmail, validatePassword } from '~/utils'
export default {
  name: 'RegisterForm',
  data() {
    return {
      fullname: '',
      nameError: null,
      email: '',
      emailError: null,
      password: '',
      passwordError: null
    }
  },
  methods: {
    registerUser() {
      if (this.validate()) {
        this.performLogin()
      }
    },
    validate() {
      this.nameError = validateName(this.fullname)
      this.emailError = validateEmail(this.email)
      this.passwordError = validatePassword(this.password)
      return !this.nameError && !this.emailError && !this.passwordError
    },
    async performLogin() {
      try {
        const data = {
          platform: 'web',
          device_type: 'web',
          email: this.email,
          password: this.password,
          first_name: this.name
        }
        const result = await this.$externalApi.register(data)
        const response = result.data
        this.$store.dispatch('onLoginSuccess', response)
          .then(() => {
            return this.$store.dispatch('cart/cartSync')
          })
          .then(() => {
            const context = this
            this.$toasted.show('User Created Sucessfully', {
              position: 'top-center',
              duration: 1000,
              onComplete() {
                if (context.$route.query.referer) {
                  context.$router.push(context.$route.query.referer)
                } else {
                  context.$router.push('/')
                }
              }
            })
          })
      } catch (error) {
        const msg = error.response.data.errors[0].message
        this.$toasted.error(msg, {
          position: 'top-center',
          duration: 1000
        })
      }
    },
    validateName() {
      this.nameError = validateName(this.fullname)
    },
    validateEmail() {
      this.emailError = validateEmail(this.email)
    },
    validatePassword() {
      this.passwordError = validatePassword(this.password)
    }
  }
}
</script>
