<template>
  <div class="forgotWrapper">
    <div class="formWrapper">
      <h2>Forgotten your password?</h2>
      <p>Enter your e-mail address and we'll send you an e-mail telling you how to recover it.</p>
      <div class="inputWrapper inputWrapper_full">
        <label>*Email Address</label>
        <input type="email" name="" required>
      </div>
      <button class="btn btn-block blackBtn">Register</button>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ForgotPassword'
}
</script>
