<template>
  <div class="loginWrapper">
    <login-form />
    <register-form />
  </div>
</template>
<script>
import LoginForm from '~/components/loginComponents/login'
import RegisterForm from '~/components/loginComponents/register'

export default {
  name: 'LoginRegsiter',
  middleware: 'anonymous',
  components: {
    LoginForm,
    RegisterForm
  }
}
</script>
