<template>
  <footer>
    <div class="customWrapper">
        <p class="ftr-ttl">Sign up to recieve updates on latest drops and collections.</p>
        <div class="newsletter">
          <input type="text" placeholder="Subscribe to newsletter">
          <button type="submit"><i class="sbt-btn"></i></button>
        </div>
        <div class="footer-nav">
          <div class="ftr-navbx">
            <div class="row">
              <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                <h4>I</h4>
                <ul>
                  <li>
                    <nuxt-link to="/aboutus">
                      About Us
                    </nuxt-link>
                  </li>
                  <!-- <li><a href="#">Our Culture</a></li>
                  <li><a href="#">The Journal</a></li> -->
                </ul>
              </div>
              <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                <h4>II</h4>
                <ul>
                  <li><a href="#">Products</a></li>
                  <li><a href="#">Lookbook</a></li>
                </ul>
              </div>
              <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                <h4>III</h4>
                <ul>
                  <li><nuxt-link to="/faq">FAQ's</nuxt-link></li>
                  <li><nuxt-link to="/shippingandreturn">Shipping &amp; Returns</nuxt-link></li>
                  <li><nuxt-link to="/termsandconditions">Terms &amp; Conditions</nuxt-link></li>
                  <li><nuxt-link to="/privacypolicy">Privacy Policy</nuxt-link></li>
                </ul>
              </div>
              <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                <h4>IV</h4>
                <ul>
                  <li><a href="#">info@selfish.com</a></li>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#">Subscribe</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <p class="copyright"> &copy; 2019 SELFISH. All rights reserved.</p>
    </div>
  </footer>
</template>
<script>
export default {
  name: 'FooterComponent'
}
</script>
