<template>
  <nav class="navbar fixed-top customNavbar" :class="[headerClass, {isMobile: $device.isMobile}]">
    <div class="customWrapper d-flex">
      <div class="mainIcon burgerMenu" v-if="$device.isMobile">
        <div class="burgerMenuIcon" @click="mobileNavClicked">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <transition name="fade">
          <mobile-menu v-if="showMobileNav" @closeMe="closeMobileNav"/>
        </transition>
      </div>
      <nuxt-link to="/" class="navbar-brand">
      </nuxt-link>
      <div class="navLink futuraBook" v-if="!$device.isMobile">
        <ul class="">
          <li>
            <nuxt-link to='/allproducts'>
              Shop
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to='/lookbook'>
              Lookbook
            </nuxt-link>
          </li>
          <li>
            <!-- <a href="">
              Our Culture
            </a> -->
          </li>
        </ul>
      </div>
      <div class="userLink futuraBook">
        <ul>
          <li id="currency" :class="{ active: $store.state.currencyToggle}" @click="toggleCurrencyOption">
            <span id="currentCurrency">{{$store.state.currency.currency_code}}</span>
            <ul id="currencyOption" @click.stop>
              <li v-for="(currency, index) in currencyList" :key="index" @click="handleCurrency(currency)">
                <span v-html="currency.currency_symbol"></span> - {{ currency.currency_code }}
              </li>
            </ul>
          </li>
          <li v-if="!$device.isMobile">
            <nuxt-link :to='userLink' id="profile" class="icon"></nuxt-link>
          </li>
          <li id="carticon">
            <a href="" id="cart" class="icon" @click.prevent="peekCart = true">
              &nbsp; ({{ bagCount }})
            </a>
            <!--<a href="" id="cart" class="icon">
              &nbsp; ({{ bagCount }})
            </a>-->
          </li>
        </ul>
      </div>
    </div>
    <cart-peek :show="peekCart" @closeCartPeek="closeCartPeek"/>
  </nav>
</template>
<script>
import { mapGetters, mapState } from 'vuex'
import CartPeek from './modal/cartPeek'
import MobileMenu from './mobileMenu'
export default {
  name: 'HeaderComponent',
  components: {
    CartPeek,
    MobileMenu
  },
  props: {
    headerClass: {
      type: String,
      default() {
        return 'default'
      }
    }
  },
  data() {
    return {
      peekCart: false,
      showMobileNav: false,
      show: false,
      parentNode: null
      /* currencyList: process.currency */
    }
  },
  mounted() {
    this.parentNode = this.$el.parentElement

    /* window.addEventListener('scroll', this.scrollMethod) */
  },
  methods: {
    toggleCurrencyOption(event) {
      event.stopPropagation()
      this.$store.dispatch('toogleCurrencyOption')
    },
    handleCurrency(curr) {
      this.$store.dispatch('updateCurrency', curr.currency_code)
    },
    closeCartPeek() {
      this.peekCart = false
    },
    mobileNavClicked() {
      this.showMobileNav = true
    },
    closeMobileNav() {
      this.showMobileNav = false
    },
    scrollMethod() {
      const sticky = this.$el.offsetTop
      if (window.pageYOffset > sticky) {
        this.$el.classList.add('sticky')
      } else {
        this.$el.classList.remove('sticky')
      }
    }
  },
  computed: {
    userLink() {
      return this.$store.state.loginStatus ? '/overview' : '/login-register'
    },
    cart() {
      return this.$store.state.loginStatus ? '/cartPeek' : '/cart-with-login'
    },
    ...mapGetters({
      bagCount: 'cart/bagsProductCount'
    }),
    ...mapState(['currencyList'])
  },
  watch: {
    /* this function add Events to body
      to close the currency toggle
    */
    '$store.state.currencyToggle'(value) {
      if (value) {
        document.querySelector('body').addEventListener('click', this.toggleCurrencyOption)
      } else {
        document.querySelector('body').removeEventListener('click', this.toggleCurrencyOption)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
