<template>
  <div class="col-md-3 cart_sidebar_nav">
    <div class="sidebar_wrapper">
      <ul>
        <li><nuxt-link to="/overview"> Overview</nuxt-link></li>
        <li><nuxt-link to="/myorders">My Orders</nuxt-link></li>
        <li><nuxt-link to="/addressbook">Address Book</nuxt-link></li>
        <li><nuxt-link to="/personal-details">Personal Details</nuxt-link></li>
        <li><nuxt-link to="/access-details">Access Details</nuxt-link></li>
        <li><a href="javascript:void(0)" @click="handelLogout">LOGOUT</a></li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Menu',
  methods: {
    async handelLogout() {
      const { data } = await this.$externalApi.logout()
      this.$cookies.remove('selfishCrtId', { domain: process.authDomain, path: '/' })
      this.$cookies.set('selfishTkn', data.access_token, { domain: process.authDomain, path: '/' })
      this.$toasted.show('Logged Out Successfuly', {
        position: 'top-center',
        duration: 1000,
        onComplete() {
          window.location = '/'
        }
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .sidebar_wrapper {
    & .router-link-active {
      color: #000;
      text-decoration: underline
    }
  }
</style>
