<template>
  <div class="mobileNav">
    <div class="mobileLogo">
      <div class="closeNav" @click="closeEvent">
        <span></span>
      </div>
      <nuxt-link to="/" class="mobilenavbar-brand" />
    </div>
    <ul class="mobileLinks futuraMedium">
      <li>
        <nuxt-link to='/allproducts' @click.native="closeEvent"> Shop </nuxt-link>
      </li>
      <li>
        <nuxt-link to='/lookbook' @click.native="closeEvent"> Lookbook </nuxt-link>
      </li>
      <li>
        <!-- <nuxt-link to='/allproducts' @click.native="closeEvent">
          Our Culture
        </nuxt-link> -->
      </li>
      <li>
        <nuxt-link :to='userLink'>
          My Profile
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: 'MobileMenu',
  methods: {
    closeEvent() {
      console.log('sdfsdfsd')
      this.$emit('closeMe')
    }
  },
  computed: {
    userLink() {
      return this.$store.state.loginStatus ? '/overview' : '/login-register'
    }
  }
}
</script>
