<template>
  <div :class="elemClass" class="productCard">
    <div class="productImg">
      <ul class="productImgDots" v-if="productData.image.images.slice(0,2).length > 1" @click.stop>
        <li
          v-for="(imgID, index) in productData.image.images.slice(0,2)"
          :key="imgID"
          @click="selected = index"
          :class="{active: selected === index}">
          <button />
        </li>
      </ul>
      <nuxt-link :to="`${productData.href}?color_id=${productData.color.id}`">
        <figure>
          <template v-for="(imgID, index) in productData.image.images.slice(0,2)">
            <img
              :key="imgID"
              :src="getImageFromObject(productData.image, 'jpg', index, 'medium')"
              v-show="selected===index">
          </template>
        </figure>
      </nuxt-link>
    </div>
    <nuxt-link to="/product/testProd">
      <div class="productInfo">
        <span class="productName futuraBook">
          {{ productData.name }}
        </span>
        <span class="productColor futuraBook">
          {{ productData.color.name }}
        </span>
        <span class="productPrice futuraMedium">
          <span v-html="$store.state.currency.currency_symbol"></span> {{ productData.offer.selling_price }}
        </span>
        <span class="productStatus futuraMedium"></span>
      </div>
    </nuxt-link>
  </div>
</template>
<script>
import { getImageFromObject } from '~/utils'

export default {
  name: 'ProductCard',
  props: {
    reponsive: {
      type: Boolean,
      required: false,
      default() {
        return true
      }
    },
    productData: {
      type: Object,
      required: false, // please change to default
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      selected: 0
    }
  },
  methods: {
    getImageFromObject
  },
  computed: {
    elemClass() {
      return this.reponsive ? ['col-6 col-md-4 col-xl-3'] : ''
    }
  }
}
</script>
