<template>
  <div class="cart_order_value">
    <div
      class="order_value"
      v-for="(detail, index) in $store.state.cart.cartDetails"
      :key="index">
      <span class="cartDetail_label">{{ detail.label }}</span>
      <span class="cartDetail_value" v-html="Number(detail.value) ? `${$store.state.currency.currency_symbol} ${detail.value}` : detail.value">
        <!-- {{{ Number(detail.value) ? detail.value : detail.value }}} -->
      </span>
    </div>
    <!-- <div class="order_value">
      <span>Order Value</span>
      <span class="futuraMedium">₹ 13850</span>
    </div>
    <div class="order_value">
      <span>Shipping</span>
      <span>Calculated at next step</span>
    </div>
    <div class="order_value">
      <span>Total:</span>
      <span>₹ 13850</span>
    </div> -->
  </div>
</template>
<script>
export default {
  name: 'CartDetail'
}
</script>
