<template>
  <nav class="navbar fixed-top customNavbar">
    <div class="customWrapper d-flex">
      <div class="mainIcon burgerMenu"></div>
      <nuxt-link to="/" class="">
        <img src="~/assets/images/logo.svg" alt="" srcset="" class="icon-logo">
      </nuxt-link>
      <div class="navLink futuraBook cart_nav">
        <ul class="cartLinks">
          <!-- <li>
            <span>Login / Register</span>
          </li> -->
          <li>
            <span>Shipping</span>
          </li>
          <li>
            <span>Payment</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  name: 'CartHeader'
}
</script>
