<template>
  <div class="col-md-12 cart_order_productcard">
    <div class="row">
        <div class="col-md-3 col-3 productCard">
            <div class="productImg">
              <nuxt-link :to="`${prodData.href}?color_id=${prodData.color.id}`">
                <figure>
                  <img :src="prodData.image" alt="" srcset="">
                </figure>
              </nuxt-link>
            </div>
        </div>
        <div class="col-md-6 col-6">
            <div class="order_product_info futuraBook">
              <span class="order_product_name">{{ prodData.name }}</span>
              <span class="order_product_brand">{{ prodData.color.name }}</span>
              <span class="order_product_size">Size : <span class="product_size">{{ prodData.size_label }}</span> / Qty : <span class="product_quantity">1</span></span>
              <div v-if="removeBtn">
                <button v-if="!removeOption" class="rmProdBtn" @click="removeOption = true">Remove</button>
                <div v-else class="prdRemovemOption">
                  <span @click="removeConfirm">Yes</span>
                  <span @click="removeOption = false">Cancel</span>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3 col-3 cart_productprice_wrapper">
            <span class="order_product_price futuraMedium">
              <span v-html="$store.state.currency.currency_symbol"></span>
              {{ prodData.price.selling_price }}
              </span>
        </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
  name: 'CartProduct',
  props: {
    removeBtn: {
      type: Boolean,
      default: false
    },
    prodData: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      removeOption: false
    }
  },
  methods: {
    removeConfirm() {
      this.$emit('removeProduct')
    }
  },
  computed: {
    ...mapState(['currency'])
  }
}
</script>
