<template>
  <div>
    <input type="checkbox" class="order_detail_accordian" id="showOrderDetail">
    <label for="showOrderDetail" class="order_details_label col-12">
      <div class="order_details_mobile_header"><span>Order Detail</span><!-- <span>₹ 13850</span> --></div>
      <div class="col-12 order_detail_wrapper">
       <!--  <div class="discount_code_section">
          <input type="text" placeholder="Add discount code">
          <button type="button" class="primary_button discount_code_applybtn">Apply</button>
        </div> -->
        <div class="cart_order_details">
          <h4>Order details</h4>
          <div class="row">
            <cart-product v-for="cartProd in $store.state.cart.cartProducts" :key="cartProd.sku" :prodData="cartProd" />
          </div>
        </div>
        <cart-detail />
      </div>
    </label>
  </div>
</template>
<script>
import CartProduct from './cartProduct'
import CartDetail from './cartDetail'
export default {
  name: 'CartOverview',
  components: {
    CartProduct,
    CartDetail
  }
}
</script>
