<template>
    <div class="col-md-9 profile_content_wrapper">
    <div class="profile_address_content profile_content_section">
        <div class="profile_address_header">
            <h3 class="profile_header_title">Address Book</h3>
            <span class="profile_header_subtitle">Add multiple shipping addresses for faster checkouts</span>
            <div class="profile_address_body">
                <form action="" class="cart_address_form" style="display:block;" @submit.prevent="addaddress">
                    <div class="row">
                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*First Name</label>
                        <input type="text" class="form-control" v-model="fname">
                        <span class="error_msg" ref="FirstName">
                            {{ firstNameError }}
                        </span>
                    </div>
                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*Last Name</label>
                        <input type="text" class="form-control" v-model="lname">
                        <span class="error_msg" ref="FirstName">
                            {{ lastNameError }}
                        </span>
                    </div>

                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*Address Line 1</label>
                        <input type="text" class="form-control" v-model="aline1">
                        <span class="error_msg" ref="FirstName">
                            {{ AddressLine1Error }}
                        </span>
                    </div>
                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*Address Line 2</label>
                        <input type="text" class="form-control" v-model="aline2">
                        <span class="error_msg" ref="FirstName">
                            {{ AddressLine2Error }}
                        </span>
                    </div>

                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*Pincode</label>
                        <input type="text" class="form-control" v-model="pincod">
                        <span class="error_msg" ref="FirstName">
                            {{ pincodeError }}
                        </span>
                    </div>
                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*City / District</label>
                        <input type="text" class="form-control" v-model="cityname">
                        <span class="error_msg" ref="FirstName">
                            {{ cityError }}
                        </span>
                    </div>

                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*State</label>
                        <input type="text" class="form-control" v-model="state">
                        <span class="error_msg" ref="FirstName">
                            {{ stateError }}
                        </span>
                    </div>

                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*Country</label>
                        <select name="" id="" class="form-control" v-model="countrydata">
                        <option v-for="country in countries" :key="country._id" :value="[country.phone_code, country.name]">{{country.name}}</option>
                        </select>
                        <span class="error_msg" ref="FirstName">
                            {{ countryError }}
                        </span>
                    </div>
                    <!-- <span>{{selected}}</span> -->
                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*Mobile Number</label>
                        <div class="mobile_number_wrapper">
                        <input type="number" class="form-control plus_number" v-model="countrydata[0]">
                        <input type="number" class="form-control" v-model="mobile_num">
                        </div>
                        <span class="error_msg" ref="FirstName">
                            {{ phoneNumberError }}
                        </span>
                    </div>
                    </div>
                    <div class="cart_address_button">
                    <button class="primary_button continue_checkoutbtn">Save Address</button>
                    </div>
                </form>
                <CancelReturnModel v-if="isVisible" @close="afteraddressAdd">
                  <h3 slot="body" class="futuraMedium">New address has been added</h3>
                </CancelReturnModel>
                </div>
        </div>
    </div>
    </div>
</template>

<script>
import CancelReturnModel from '../component/CancelReturnModel'
export default {
  layout: 'profile',
  components: {
    CancelReturnModel
  },
  data() {
    return {
      countries: [],
      selected: '',
      fname: '',
      lname: '',
      pincod: '',
      state: '',
      mobile_num: '',
      aline1: '',
      aline2: '',
      countrydata: [],
      phcode: '',
      cityname: '',
      show: {},
      isVisible: false,
      firstNameError: null,
      lastNameError: null,
      phoneNumberError: null,
      pincodeError: null,
      cityError: null,
      stateError: null,
      AddressLine1Error: null,
      AddressLine2Error: null,
      countryError: null
    }
  },
  mounted() {
    this.populateCountries()
  },
  methods: {
    populateCountries() {
      this.$externalApi.getAllCountries()
        .then((response) => {
          console.log(response)
          this.countries = response.data
        })
    },
    validateFirstName(fname) {
      const lengthMsg = 'Name should be atleast 5 character'
      const charMsg = 'Name should contain only Alpha characters'
      this.firstNameError = !/[\w\s]{5}/i.test(fname.trim()) ? lengthMsg : !/^[A-Z\s]+$/i.test(fname.trim()) ? charMsg : null
    },
    validateLastName(lname) {
      const lengthMsg = 'Name should be atleast 5 character'
      const charMsg = 'Name should contain only Alpha characters'
      this.lastNameError = !/[\w\s]{5}/i.test(lname.trim()) ? lengthMsg : !/^[A-Z\s]+$/i.test(lname.trim()) ? charMsg : null
    },
    validateNumber(phonenum) {
      const lengthMsg = 'Phone number should be between 10 to 12 digits'
      this.phoneNumberError = !/^[0-9]{10}$/i.test(phonenum.trim()) ? lengthMsg : null
    },
    validatePincode(pin) {
      const lengthMsg = 'Pin code should be between 5 to 7 digits'
      this.pincodeError = !/^[0-9]{5,7}$/i.test(pin.trim()) ? lengthMsg : null
    },
    validateCity(cityname) {
      const lengthMsg = 'City name cannot be empty'
      this.cityError = cityname === '' ? lengthMsg : null
    },
    validateState(state) {
      const lengthMsg = 'State name cannot be empty'
      this.stateError = state === '' ? lengthMsg : null
    },
    validateAddressLine1(aline1) {
      const lengthMsg = 'Address cannot be empty'
      this.AddressLine1Error = aline1 === '' ? lengthMsg : null
    },
    validateAddressLine2(aline2) {
      const lengthMsg = 'Address cannot be empty'
      this.AddressLine2Error = aline2 === '' ? lengthMsg : null
    },
    validateCountry(country) {
      const lengthMsg = 'Please select a country'
      this.countryError = country === undefined ? lengthMsg : null
    },
    validateInputs() {
      this.validateFirstName(this.fname)
      this.validateLastName(this.lname)
      this.validateNumber(this.mobile_num)
      this.validatePincode(this.pincod)
      this.validateCity(this.cityname)
      this.validateState(this.state)
      this.validateAddressLine1(this.aline1)
      this.validateAddressLine2(this.aline2)
      this.validateCountry(this.countrydata[0])
      return (!this.firstNameError && !this.lastNameError && !this.phoneNumberError && !this.pinCodeError && !this.cityError && !this.stateError && !this.AddressLine1Error && !this.AddressLine2Error && !this.countryError)
    },
    addaddress() {
      const data = {
        first_name: this.fname,
        last_name: this.lname,
        email: 'stylabsinfo@gmail.com',
        line1: this.aline1,
        line2: this.aline2,
        pincode: this.pincod,
        city: this.cityname,
        zone: this.state,
        country: this.countrydata[1],
        mobile_number: this.mobile_num,
        phone_country_code: this.countrydata[0]
      }
      //   alert(data.phone_country_code)
      if (this.validateInputs()) {
        this.$externalApi.addressAdd(data)
          .then((response) => {
            console.log(response.data)
            if (Object.keys(response.data > 0)) {
              this.isVisible = true
            }
            // this.isVisible = false
            // alert(this.show)
          })
      }
    },
    afteraddressAdd() {
      this.isVisible = false
      this.$router.push({ path: 'addressBook' })
    }
  }
}
</script>

<style>

</style>
