<template>
  <div class="address_action_row">
      <div class="col-md-6 edit_address_sec">
      <span class="edit_address_name">{{ address.first_name }} {{ address.last_name }}</span>
      <p class="edit_address">{{address.line1}}, {{address.line2}},{{address.landmark}} {{address.city}}-{{address.pincode}}</p>
      <span class="edit_mobileno">+{{ address.phone_country_code }}{{address.mobile_number}}</span>
      </div>
      <div class="col-md-6 edit_address_buttons">
          <button type="button" class="address_edit_button" @click="$emit('openEdit', address.address_id)">Edit</button>
          <button type="button" class="address_delete_button" @click="$emit('openDelete', address.address_id)">Delete</button>
      </div>
      <!-- <CancelReturnModel v-if="isModalVisible" @close="isModalVisible = false">
          <div slot='body'>
              <h4>Are you sure you want to delete?</h4>
              <button class="profile_order_details_button">Confirm</button>
          </div>
      </CancelReturnModel> -->
      <!-- <template v-if="isEditVisible">
          <EditModal  @close="isEditVisible = false">
              <h4 slot='header'>Edit</h4>
          </EditModal>
      </template> -->
  </div>
</template>

<script>
// import CancelReturnModel from '../component/CancelReturnModel'
// import EditModal from './EditModal'
export default {
  components: {
    // CancelReturnModel
    // EditModal
  },
  props: {
    address: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      isModalVisible: false,
      isEditVisible: false
    }
  },
  methods: {
    deleteaddress() {
      this.isModalVisible = true
    }
    // editaddress() {
    //   this.$emit({{this.addressList}})
    // //   this.isEditVisible = true
    // }
  }

}
</script>

<style>

</style>
