<template>
    <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
            </slot>
            <button class="modal-default-button" @click="$emit('close')">
                ×
            </button>
          </div>
          <div class="modal-body">
            <slot name="body">
                <form action="" class="cart_address_form" style="display:block;" @submit.prevent="$emit('update-address')">
                    <div class="row">
                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*First Name</label>
                        <input type="text" class="form-control" v-model="addresslist.first_name">
                    </div>
                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*Last Name</label>
                        <input type="text" class="form-control" v-model="addresslist.last_name">
                    </div>

                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*Address Line 1</label>
                        <input type="text" class="form-control" v-model="addresslist.line1">
                    </div>
                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*Address Line 2</label>
                        <input type="text" class="form-control" v-model="addresslist.line2">
                    </div>

                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*Pincode</label>
                        <input type="text" class="form-control" v-model="addresslist.pincode">
                    </div>
                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*City / District</label>
                        <input type="text" class="form-control" v-model="addresslist.city">
                    </div>

                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*State</label>
                        <input value="" class="form-control" v-model="addresslist.zone">
                    </div>

                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*Country</label>
                        <select name="" id="" class="form-control" v-model="countrydata">
                        <option v-for="country in countries" :key="country._id" :value="[country.phone_code, country.name]">{{ country.name }}</option>
                        </select>
                    </div>

                    <div class="col-md-6 cart_custom_input">
                        <label for="" class="futuraMedium">*Mobile Number</label>
                        <div class="mobile_number_wrapper">
                        <input type="number" class="form-control plus_number" v-model="countrydata[0]">
                        <input type="number" class="form-control" v-model="addresslist.mobile_number">
                        </div>
                    </div>
                    </div>
                    <div class="cart_address_button">
                    <button class="primary_button continue_checkoutbtn">Save Address</button>
                    </div>
                </form>
            </slot>
          </div>
          <div class="modal-footer">
            <slot name="footer">
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    addresslist: {
      type: Object
    }
  },
  data() {
    return {
      countries: [],
      countrydata: []
    }
  },
  mounted() {
    this.populateCountries()
  },
  methods: {
    populateCountries() {
      this.$externalApi.getAllCountries()
        .then((response) => {
          console.log(response)
          this.countries = response.data
        })
    }
  }
}
</script>

<style scoped>
.modal-default-button {
  border: none;
  cursor: pointer;
  background: transparent;
}
</style>
