<template>
    <div class="add_address_button">
        <button><nuxt-link to='/new'>Add New Address</nuxt-link></button>
        </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
