.loginWrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  @include breakpoint-min(calc-rem(768)){
    width: 720px;
    flex-wrap: nowrap;
  }
}

.formWrapper {
  width: 100%;
  padding-top: 30px;
  @include breakpoint-min(calc-rem(768)){
    width: 100%;
  }
  &#loginForm {
    @include breakpoint-min(calc-rem(768)){
      padding-right: 100px;
    }
  }
  &#registerForm {
    border-top: 1px solid $borderColor;
    margin-top: 30px;
    @include breakpoint-min(calc-rem(768)){
      margin-top: 0;
      border-top: none;
      border-left: 1px solid $borderColor;
      padding-left: 100px;
    }
  }
  & h2 {
    font-size: calc-rem(18);
    font-family: 'futuraMedium';
    margin-bottom: 25px;
  }
  & p{
    color: $secondryColor;
    font-size: calc-rem(14);
    font-family: 'futuraBook';
  }
}