$body-bgColor:  #fff !default;

$primaryColor:  #000 !default;
$secondryColor: #878787 !default;
$successColor:  #75B859 !default;
$errorColor:    #FF6F6F !default;
$borderColor:   #F1F0F0 !default;
$pdpBg:         #E6E7E9 !default;

$font-primaryColor:  $primaryColor !default;
$font-secondryColor: $secondryColor !default;
$font-errorColor:    $errorColor !default;
$font-successColor:  $successColor !default;

$wrapper-maxWidth: 1450px !default;
$wrapper-padding:  15px !default;

$bg-spriteSize-X: 350px !default;
$bg-spriteSize-Y: 350px !default;

$text__size--default: 16 !default;

$default-gutter: 15px !default;

$container_MaxWidth: (
  /* 576: 100%,
  768: 100%, */
  992: 960px,
  1200: 1050px,
  1400: 1200px,
  1920: 1450px 
);

$pdpImg-MaxWidth: (
  768: calc(100% - 400px),
  992: 560px,
  1200: 645px,
  1400: 790px,
  1920: 980px,
);

