.primary_button {
    background: #000;
    color: #fff;
    font-size:calc-rem(14);
    line-height: 41px;
    text-align: center;
    border: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.global_icon {
  background: url('../../assets/images/spritesheet.svg') no-repeat;
  background-size: 300px 300px;
}

.paid_stamp_icon {
  height: 140px;
  width: 140px;
  background-position: -92px -68px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  right: 60px;
  top: -70px;
}
.zoomCursor {
  cursor: url('../images/zoom.svg'), auto;
}