@include font-face('futuraBold', 'futura_bold_font-webfont', 'futuraBold');
@include font-face('futuraMedium', 'futura_medium_bt-webfont', 'futuraMedium');
@include font-face('futuraHeavy', 'futura_heavy_font-webfont', 'futuraHeavy');
@include font-face('futuraLight', 'futura_light_font-webfont', 'futuraLight');
@include font-face('futuraBook', 'futura_book_font-webfont', 'futuraBook');

.futuraBook {
  font-family: 'futuraBook';
}
.futuraBold {
  font-family: 'futuraBold';
}
.futuraMedium {
  font-family: 'futuraMedium';
}
.futuraHeavy {
  font-family: 'futuraHeavy';
}
.futuraLight {
  font-family: 'futuraLight';
}