footer{
  background:#000;
  color:#fff;
  padding:80px 0 65px 0;
  font-family: 'futuraBook';
  @include breakpoint-max(calc-rem(767)){
      padding:30px 0 25px 0;
    }
}
.ftr-ttl{
  margin-bottom:30px;
  @include breakpoint-max(calc-rem(767)){
      font-size: calc-rem(14);
    }
}

.newsletter{
  border:1px solid #1e1e1e; 
  display: inline-flex;
}
.newsletter button{
  background: none;
  border:none; 
  border-left: 1px solid #1e1e1e;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}
.newsletter input[type="text"]{
  background: none;
  padding: 15px; 
  font-size: calc-rem(14);
  border:none;
  color:#fff; 
  width: 250px;
  @include breakpoint-max(calc-rem(575)){
      font-size: calc-rem(12);
      width: 190px;
  }
}
.newsletter .sbt-btn{
  /* background: url(../../images/arrow.png)  0 no-repeat; */
   height: 15px; 
   width:8px;
   background-size: 8px; 
   display:block; 
  }
.footer-nav{
  margin:90px 0 0 0;
  @include breakpoint-max(calc-rem(767)){
      margin:30px 0 0 0;
  }
  
}
.ftr-navbx{
  width:85%;
  @include breakpoint-max(calc-rem(767)){
      width:100%;
    }
}
.ftr-navbx ul{
  list-style: none;
  padding: 0;
}
.ftr-navbx a{
  display: inline-block;
  text-decoration: none;
  font-family: 'futuraBook';
  color: #fff;
  font-size: calc-rem(14);
  @include breakpoint-max(calc-rem(767)){
      font-size: calc-rem(12);
  }

}
.ftr-navbx h4{
  font-size:35px;
  margin-bottom: 30px;
  @include breakpoint-max(calc-rem(991)){
      font-size: calc-rem(25);
  }
  @include breakpoint-max(calc-rem(767)){
      font-size: calc-rem(20);
      margin-bottom: 10px;
    }
}

.copyright{
  font-size:12px;
  color:#878787;
  margin:90px 0 0 0;
  @include breakpoint-max(calc-rem(767)){
      margin:20px 0 0 0;
  }
}
