.homePage.customNavbar{
  background: transparent; transition: 0.5s;
  border-bottom: none;
}
.homePage ~ .mainContainer{
  padding-top:0; 
}
.homePage .navLink ul li a{
  color:#fff;
}
.homePage .navbar-brand{
  display: flex;
  align-items: center
}
.navbar-brand{ 
  height:40px;
  width: 102px;
  display: block;
  background: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.homePage .navbar-brand{
  background: url(../images/logoWhite.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/* .sticky{
  background: #fff !important;
  height: 60px;
}
.sticky .navLink ul li a{
  color:#000;
}
.sticky .navbar-brand i{ 
  height:13px;
  width: 102px;
  display: block;
  background: url(../../images/logo.svg);
  background-repeat: no-repeat;
} */
.homeBanner{
  background:url(../images/homeBanner2.jpg) no-repeat;
  background-position: 0;
  height: 100vh;
  position: relative;
  background-size:cover; 
  color:#fff;
  overflow: hidden;
  &:after{
      content: "";
      position: absolute;
      background: url(../images/homeBanner1.jpg) no-repeat;
      background-size:cover;
      top:0;
      bottom: 0;
      height:100vh;
      width: 100vw;
      opacity: .30;
      -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
      animation: mymove 5s infinite;
  }
  
  
}
.tagline{
  font-size: calc-rem(85);
  font-style: italic;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:47%;  
  line-height:100%;
  z-index: 9;
  &::after
  {
      content: "";
      position: absolute;
      top: 78%;
      height: 5px;
      width: 116%;
      background: #fff;
      left: 94%;
      @include breakpoint-min(calc-rem(320)){
          top:84%;
          width: 200%;
      }
      @include breakpoint-min(calc-rem(768)){
          width: 200%;
      }
  }
  @include breakpoint-min(calc-rem(320)){
      font-size: calc-rem(35);
      width:180px;
  }
  @include breakpoint-min(calc-rem(768)){
      font-size: calc-rem(45);
      width:230px;
  }
  @include breakpoint-min(calc-rem(992)){
      font-size: calc-rem(60);
      width:44%;
  }
  @include breakpoint-min(calc-rem(1140)){
      font-size: calc-rem(80);
      width:58%;
  }
  @include breakpoint-min(calc-rem(1200)){
      font-size: calc-rem(92);
      width:640px;
  }
  
}
.homeBanner .customWrapper{
  position: relative;
  height: 100vh;}
.sm-tagline{
  font-size: calc-rem(14);
  position: absolute;
  bottom: 7%;
  left:0;
  z-index: 1;
  @include breakpoint-min(calc-rem(320)){
      left:30px; 
  }
  @include breakpoint-min(calc-rem(768)){
      left:30px;
  }
}
@-webkit-keyframes mymove {
  0%   {opacity:.30 ;}
  50% { opacity:0; }
}

/* Standard syntax */
@keyframes mymove {
  0%   {opacity:.30 ;}
  50% { opacity:0; }
}