* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.customWrapper {
  @include makeCustom-container();
  @include make-customContainer-max-width();
}
.isMobile ~ .mainContainer {
  padding-top: 70px;
}
.mainContainer {
  padding-top: 90px;
}
.icon {
  background: url('../images/spritesheet.svg');
  background-size: 350px 350px;
}
.modalOn {
  overflow: hidden;
}