.anchor {
  font-size: calc-rem(14);
  font-family: 'futuraBook';
  text-decoration: underline;
  &:hover {
    color: inherit;
  }
}
.anchor_primary {
  color: $primaryColor;
}
.anchor_secondry {
  color: $secondryColor;
}
.anchor_block {
  display: block;
}

button {
  &:active, &:focus {
    outline: none;
  }
}