.customNavbar {
  height: 90px;
  border-bottom: 1px solid #F1F0F0;
  background: $body-bgColor;
}
.customNavbar.isMobile {
  height: 60px;
}
.navLink, .userLink{
  display: flex;
  & > ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    li {
      display: inline-block;
      margin-right: 30px;
      a {
        color: $font-primaryColor;
        font-size: calc-rem(13);
        letter-spacing: calc-rem(.5);
        position: relative;
        &:hover {
          text-decoration: none;
          &:before{
            content: ''
          }
        }
        &:before{
          position: absolute;
          width: 100%;
          height: 1px;
          background: $primaryColor;
          bottom: 0;
        }
      }
    }
  }
}
.cartLinks {
  & > li {
    position: relative;
    margin-right: 20px !important;
    font-size: calc-rem(13);
    &:last-child:after{
      display: none;
    }
    &:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border:1px solid $secondryColor;
      border-bottom-color: transparent;
      border-left-color: transparent;
      transform: rotate(45deg);
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      right: -10px;
    }
  }
}
.userLink {
  flex:1;
  justify-content: flex-end;
  & > ul {
    & li{
      width: 40px;
      height: 40px;
      position: relative;
      text-align: center;
      margin-right: 15px;
      cursor: pointer;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

@mixin userlinkCss{
  display: block; 
  height: 100%;
  &:before{
    display: none;
  }
}
#profile {
  @include userlinkCss();
  background-position: -10px -2px;
}
.homePage #profile {
  color: #fff;
  background-position: -105px -51px;
}
#carticon{
  width: 50px;
}
#cart {
  @include userlinkCss();
  padding-top: 10px;
  padding-left: 10px;
  background-position: -60px -3px;
}
.homePage #cart {
  color: #fff;
  background-position: -155px -51px;
}
/* currency toggle */
.homePage #currentCurrency{
  color: #fff;
}
.homePage #currency {
  & > span{
    &:after,&:before{
      border: 1px solid #fff;
    }
    &:after {
      content: none;
      border-top-color: transparent;
      border-left-color: transparent;
    }
    &:before {
      content: '';
      right: -4px;
      top:3px;
      border-right-color: transparent;
      border-bottom-color: transparent;
    }
  } 
}
#currency {
  font-size: calc-rem(14);
  display: flex;
  align-items: center;
  justify-content: center;
  & > span{
    padding: 0 10px;
    position: relative;
    &:after,&:before{
      position: absolute;
      width: 8px;
      height: 8px;
      border: 1px solid $primaryColor;
      transform: rotate(45deg);
      margin-left: 6px;
      margin-top: 4px;
    }
    &:after {
      content: none;
      border-top-color: transparent;
      border-left-color: transparent;
    }
    &:before {
      content: '';
      right: -4px;
      top:3px;
      border-right-color: transparent;
      border-bottom-color: transparent;
    }
  }
  &.active {
    & > span {
      &:before{
        content: none;
      }
      &:after{
        content: '';
      }
    }

    & #currencyOption {
      visibility: visible;
      top: 50px;
    }
  }
}
#currencyOption{
  padding: 0;
  width: 180px;
  border: 1px solid $borderColor;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top:70px;
  background: $body-bgColor;
  padding: 0 10px;
  visibility: hidden;
  transition: top .3s linear, visibility .3s linear;
  & li{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $borderColor;
    margin-right: 0;
    font-size: calc-rem(12);
    &:last-child{
      border-bottom: none;
    }
  }
}

.mobileNav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 1;
}
.mobileLogo{
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 31px;
  & .mobilenavbar-brand{ 
    height:40px;
    width: 102px;
    display: block;
    background: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
.closeNav {
  width: 40px;
  height: 45px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
  & span {
    width: 20px;
    height: 2px;
    display: block;
    background: #000;
    border-radius: 1px;
  }
}
.homePage {
  & .burgerMenuIcon {
    & span {
      background: #fff;
    }
  }
}
.burgerMenuIcon {
  width: 20px;
  margin-right: 25px;
  cursor: pointer;
  & span {
    display: block;
    height: 2px;
    border-radius: 1px;
    background: #000;
    &:nth-child(2) {
      margin: 5px 0;
    }
  }
}
.burgerMenu {
  display: flex;
  align-items: center;
}

.mobileLinks {
  list-style: none;
  padding-top: 50px;
  & li {
    font-size: calc-rem(30);
    margin-bottom: 15px;
    & a {
      color: #000;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
