.productCard {
  margin-bottom: 30px;
}

.productImg {
  position: relative;

  & figure {
    padding-top: calcPadding(330, 413);
  }

  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
  }
}

.productImgDots {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  list-style: none;
  z-index: 1;

  & li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    & button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 10px;
      height: 10px;
      padding: 5px;
      cursor: pointer;
      margin: auto;
      border: 0;
      border-radius: 50%;
      background: rgba(0,0,0,.5)
    }
    &.active {
      & button {
        background: rgba(0,0,0,1)
      }
    }
  }
}

.productInfo {
  & > span {
    display: block;
    margin-top: 10px;
  }
}

.productName {
  font-size: calc-rem(12);
  text-transform: uppercase;
  color: $primaryColor;
}

.productColor {
  font-size: calc-rem(12);
  color: $secondryColor;
}

.productPrice {
  font-size: calc-rem(12);
  color: $primaryColor;
}