<template>
  <div>
    <div class="plpContainer">
      <span class="plpTitle futuraMedium">
        स्वार्थी | Drop 0 Summer 2019
      </span>
    </div>
    <div class="row">
      <product-card
        v-for="(product) in productList"
        :key="product.product_id"
        :productData="product"
      />
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import ProductCard from '~/components/productCard'
export default {
  name: 'PLP',
  components: {
    ProductCard
  },
  data() {

  },
  async asyncData({ app, store }) {
    try {
      const currency = store.state.currency.text
      const response = await app.$externalApi.getAllProducts({ currency })
      console.log(response.data)
      return { productList: response.data }
    } catch (error) {

    }
  },
  computed: {
    ...mapState(['currency'])
  },
  watch: {
    async currency() {
      try {
        const currency = this.currency.text
        const response = await this.$externalApi.getAllProducts({ currency })
        console.log(response.data)
        this.productList = response.data
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>
