<template>
  <div>
    <div class="pdpWrapper">
      <div class="pdpImgWrapper">
        <ul class="pdpThumb">
          <li
            v-for="(thumImage, index) in productSmallImgs"
            :key="index"
            @click="selectedImg = index"
            :class="{active: selectedImg === index}">
            <figure>
              <img :src="thumImage" alt="">
            </figure>
          </li>
        </ul>
        <div class="pdpImg zoomCursor" v-for="(prodImage, index) in productLargeImgs" :key="index" v-show="selectedImg === index" @click="showLightBox = true">
          <figure>
            <img :src="prodImage" alt="">
          </figure>
        </div>
      </div>
      <div class="pdpInfoWrapper">
        <div class="futuraBook prodInfoSection">
          <span class="prodName">
            {{ productData.name }}
          </span>
          <span class="prodColorName">
            {{ selectedVariant.color.name }}
          </span>
          <span class="futuraMedium prodPrice">
            <span v-html="$store.state.currency.currency_symbol"></span> {{ productData.offer.selling_price }}
          </span>
          <span class="prodInfo">
            <p>
              {{ productData.description }}
            </p>
            <!-- <p id="prodContent">
              90% Cotton / 10% Elastane
            </p> -->
          </span>
        </div>
        <div class="prodInfoSection" v-if="productData.variants.length > 1">
          <div class="futuraMedium productAttribute">
            <span class="prodSectionTitle attributeName">
              Choose the color
            </span>
            <ul class="attributeList productClr">
              <li
                v-for="variant in productData.variants"
                :style="{borderColor:`#${variant.color.hex}`}"
                :key="variant.color.id"
                :class="{selected: (variant.color.id === selectedVariant.color.id)}">
                <i :style="{backgroundColor:`#${variant.color.hex}`}"/>
              </li>
            </ul>
          </div>
        </div>
        <div class="prodInfoSection">
          <div class="futuraMedium productAttribute">
            <span class="prodSectionTitle attributeName">
              Choose your size
              <span id="sizeTxt">
                Size guide
              </span>
            </span>
            <ul class="attributeList size" ref="size">
              <li
                v-for="size in selectedVariant.sizes"
                :key="size.sku"
                :class="{outOfStock: size.quantity === 0, selectedSize: selectedSize.sku === size.sku}" >
                <button @click="sizeSelect(size)" :disabled="size.quantity === 0">
                  {{ size.label }}
                </button>
              </li>
            </ul>
          </div>
          <button class="btn btn-block blackBtn" @click="addToCart">
            <span v-if="!gotTobag">Add to Bag</span>
            <span v-else >Go To Bag →</span>
          </button>
          <div class="futuraMedium prodDelivery">
            <span class="prodSectionTitle">
              Delivery
            </span>
            <ul id="deliverCondition" class="futuraBook">
              <li>Tax & duties are included.</li>
              <li>Delivery cost will be calculated based on the country.</li>
              <li>Standard delivery time 7-14 working days.</li>
            </ul>
            <a id="shippingDetails" href="#">
              View Shipping details
            </a>
          </div>
        </div>
        <div class="futuraMedium prodInfoSection">
          <span class="prodSectionTitle">
            Cleaning care and washing instructions:
          </span>
          <ul id="prodCare">
            <li id="care1" class="icon" />
            <li id="care2" class="icon" />
            <li id="care3" class="icon" />
            <li id="care4" class="icon" />
            <li id="care5" class="icon" />
          </ul>
        </div>
        <div class="futuraMedium prodInfoSection">
          <span class="prodSectionTitle">
            Need Help?
          </span>
          <span class="futuraBook prodFaq">
            <nuxt-link to="/faq">FAQs</nuxt-link> /
            <nuxt-link to="/contactus">
              Contact Us
            </nuxt-link>
          </span>
        </div>
        <!-- <div class="prodInfoSection">
          <span class="futuraBook prodFaq">
            <a href="">
              -
            </a>/
            <a href="">
              -
            </a>
          </span>
        </div> -->
      </div>
    </div>
    <template v-if="$device.isDesktop">
      <transition name="lightbox">
        <desktop-lightbox v-if="showLightBox" :prodImages="{productLargeImgs,  productSmallImgs}" :imgIndex="selectedImg" @closeLightBox="showLightBox = false" />
      </transition>
    </template>
    <template v-else>
      <transition>
        <mobile-carousel v-if="showLightBox" @closeLightBox="showLightBox = false"/>
      </transition>
    </template>
    <!-- <div class="similarProducts">
      <h3>Realated Products</h3>
      <div class="similarProdWrapper">
        <product-card reponsive="false" />
      </div>
    </div> -->
  </div>
</template>
<script>
// import ProductCard from '~/components/productCard'
import { mapState } from 'vuex'
import { getImageFromObject } from '~/utils'
import DesktopLightbox from './components/desktopLightbox'
import MobileCarousel from './components/mobileCarousel'
export default {
  name: 'PDP',
  components: {
    DesktopLightbox,
    MobileCarousel
  },
  data() {
    return {
      selectedVariant: {},
      selectedSize: {},
      gotTobag: false,
      selectedProdData: {},
      productLargeImgs: [],
      productSmallImgs: [],
      selectedImg: 0,
      showLightBox: false
    }
  },
  async asyncData({ app, store }) {
    const productId = store.state.page.foreignId
    const currency = store.state.currency.text
    try {
      const result = await app.$externalApi.getProductDetails({ product_id: productId, currency })
      console.log(result.data)
      return { productData: result.data }
    } catch (error) {
      console.log(error)
    }
  },
  created() {
    this.getSelectedVaraint()
    this.productLargeImgs = this.getImages('large')
    this.productSmallImgs = this.getImages('small')
    console.log(this.productLargeImgs)
    console.log(this.productSmallImgs)
  },
  mounted() {
    console.log('im mounted')
  },
  methods: {
    getSelectedVaraint() {
      const colorId = this.$route.query.color_id
      this.selectedVariant = this.productData.variants.find(variant => variant.color.id === colorId) || this.productData.variants[0]
    },
    getImages(imgSize) {
      const obj = this.selectedVariant
      const tmpUrl = []
      for (let i = 0; i < obj.image.images.length; i += 1) {
        const url = getImageFromObject(obj.image, 'jpg', i, imgSize)
        tmpUrl.push(url)
      }
      return tmpUrl
    },
    sizeSelect(size) {
      this.selectedSize = size
      this.gotTobag = this.findDuplicateInCart()
    },
    findDuplicateInCart() {
      const cartProds = this.$store.state.cart.bagProducts
      return cartProds.find(prod => prod.sku === this.selectedSize.sku)
    },
    addToCart() {
      if (this.gotTobag) {
        this.$router.push('/checkout/address')
      } else if (Object.keys(this.selectedSize).length) {
        this.$store.dispatch('cart/addProduct', this.selectedProdData)
          .then(() => {
            this.$toast.show('Product Added to Bag →', {
              position: 'top-center',
              duration: 2000
            })
            this.gotTobag = true
          })
          .catch(() => {
            this.$toast.error('Product not added', {
              position: 'top-center',
              duration: 2000
            })
          })
      } else {
        const sizeList = this.$refs.size
        sizeList.classList.add('shake-size')
        setTimeout(() => {
          sizeList.classList.remove('shake-size')
        }, 900)
      }
    }
  },
  computed: {
    ...mapState(['currency'])
  },
  watch: {
    async currency() {
      const productId = this.$store.state.page.foreignId
      const currency = this.currency.text
      try {
        const result = await this.$externalApi.getProductDetails({ product_id: productId, currency })
        console.log(result.data)
        this.productData = result.data
        /* this.getSelectedVaraint()
        this.productLargeImgs = this.getImages('large')
        this.productSmallImgs = this.getImages('small') */
      } catch (error) {
        console.log(error)
      }
    },
    selectedSize(size) {
      this.selectedProdData = {
        product_id: this.productData.product_id,
        color_id: this.selectedVariant.color.id,
        size_label: this.selectedSize.label,
        sku: this.selectedSize.sku
      }
    }
  }
  /* components: {
    ProductCard
  } */
}
</script>
