<template>
              <div class="col-md-9 profile_content_wrapper">

                <!-- <div class="profile_address_content profile_content_section">
                    <div class="profile_address_header">
                        <h3 class="profile_header_title">Change Email Address</h3>
                        <span class="profile_header_subtitle">Your current e-mail address is: <a href="mailto:ojhaalok50@gmail.com">{{detailList.email}}</a></span>
                    </div>
                  <div class="profile_address_body">
                    <form action="" class="cart_address_form" style="display:block;">
                      <div class="row">
                        <div class="col-md-6 cart_custom_input">
                          <label for="" class="futuraMedium"><star>*</star>Current Password</label>
                          <input type="password" class="form-control">
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-md-6 cart_custom_input">
                          <label for="" class="futuraMedium"><star>*</star>New Email Address</label>
                          <input type="email" class="form-control">
                        </div>

                        <div class="col-md-6 cart_custom_input">
                          <label for="" class="futuraMedium"><star>*</star>Repeat Email Address</label>
                          <input type="email" class="form-control">
                        </div>
                      </div>
                      <div class="cart_address_button">
                        <button class="primary_button continue_checkoutbtn">Update Email Address</button>
                      </div>
                    </form>
                  </div>
                </div> -->

                <div class="profile_address_content profile_content_section">
                  <div class="profile_address_header">
                    <h3 class="profile_header_title">Change Password</h3>
                    <span class="profile_header_subtitle">If you wish to change the password to access your account, please provide the following information</span>
                  </div>
                  <div class="profile_address_body">
                    <form action="" class="cart_address_form" style="display:block;" @submit.prevent="updatePass">
                      <div class="row">
                        <div class="col-md-6 cart_custom_input">
                          <label for="" class="futuraMedium">*Current Password</label>
                          <input
                          type="password"
                          v-model="currpassword"
                          class="form-control"
                          :class="{'error': currpasswordError}"
                          required>
                          <span class="error_msg">
                            {{ currpasswordError }}
                          </span>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-md-6 cart_custom_input">
                          <label for="" class="futuraMedium">*New Password</label>
                          <input
                          type="password"
                          v-model="newpassword"
                          class="form-control"
                          :class="{'error': newpasswordError}"
                          required>
                          <span class="error_msg">
                            {{ newpasswordError }}
                          </span>
                        </div>

                        <div class="col-md-6 cart_custom_input">
                          <label for="" class="futuraMedium">*Repeat Password</label>
                          <input
                          type="password"
                          v-model="repeatpassword"
                          class="form-control"
                          :class="{'error': repeatpasswordError}"
                          required>
                          <span class="error_msg">
                            {{ repeatpasswordError }}
                          </span>
                        </div>
                      </div>
                      <div class="cart_address_button">
                        <button class="primary_button continue_checkoutbtn">Update Password</button>
                      </div>
                    </form>
                  </div>
                </div>
                <CancelReturnModel v-if="isVisible" @close="isVisible = false">
                  <h3 slot="body" class="futuraMedium">{{ message }}</h3>
                </CancelReturnModel>
              </div>
</template>

<script>
import CancelReturnModel from './component/CancelReturnModel'
export default {
  layout: 'profile',
  middleware: 'authenticated',
  components: {
    CancelReturnModel
  },
  data() {
    return {
      currpassword: '',
      newpassword: '',
      repeatpassword: '',
      newpasswordError: null,
      currpasswordError: null,
      repeatpasswordError: null,
      message: {},
      error: [],
      isVisible: false
    }
  },
  methods: {
    validatePassword(val) {
      const passMsg = 'Atleast eight characters, one letter and one number'
      return (!/^(?=.*?[A-Za-z])(?=.*?[0-9]).{8,}$/.test(val) ? passMsg : null)
    },
    checkpassword() {
      this.currpasswordError = this.validatePassword(this.currpassword)
      this.newpasswordError = this.validatePassword(this.newpassword)
      if (this.newpassword !== this.repeatpassword) {
        this.repeatpasswordError = 'Passwords are not same'
      }
      return (!this.currpasswordError && !this.newpasswordError && !this.repeatpasswordError)
    },
    updatePass() {
      if (this.checkpassword()) {
        this.updateapi()
      }
    },
    updateapi() {
      try {
        const data = {
          old_password: this.currpassword,
          new_password: this.newpassword
        }
        this.$externalApi.updatePassword(data)
          .then((response) => {
            console.log(response)
            this.message = response.data.message
            alert(this.message)
          })
          .catch((error) => {
            console.log(error.response.data.errors[0].message)
            this.message = error.response.data.errors[0].message
            alert(this.message)
          })
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>

<style>

</style>
