<template>
    <div class="col-md-9 profile_content_wrapper">
    <div class="profile_address_content profile_content_section">
        <div class="profile_address_header">
            <h3 class="profile_header_title">Address Book</h3>
            <span class="profile_header_subtitle">Add multiple shipping addresses for faster checkouts</span>
            <!-- <EmptyAddress v-if="!addressList" /> -->
            <template v-if="addressList.length > 0">
              <AddressFilled v-for="address in addressList" :key="address.address_id" :address="address"  @openEdit="openEdit" @openDelete="openDelete"></AddressFilled>
            </template>
            <!-- <nuxt-child /> -->
            <EditModal v-if="isEditVisible"  @close="isEditVisible = false" :addresslist="editableAddress" @update-address="onConfirmEdit">
              <h4 slot='header' class="futuraMedium">Edit</h4>
            </EditModal>
            <CancelReturnModel v-if="isModalVisible" @close="isModalVisible = false">
              <div slot='body' class="futuraMedium">
              <h4>Are you sure you want to delete?</h4>
              <button class="profile_order_details_button" @click="onConfirmDelete">Confirm</button>
              </div>
            </CancelReturnModel>
        </div>
        <nuxt-link to="/newAddress">
          <div class="add_address_button">
            <button>Add New Address</button>
          </div>
        </nuxt-link>
    </div>
    </div>
</template>

<script>
// import EmptyAddress from './address-component/EmptyAddress'
import AddressFilled from './address-component/AddressFilled'
import EditModal from './address-component/EditModal'
import CancelReturnModel from './component/CancelReturnModel'
// import endpoints from '~/assets/api_endpoint'
// import AddNewAddress from './address-component/AddNewAddress'
export default {
  layout: 'profile',
  middleware: 'authenticated',
  components: {
    AddressFilled,
    EditModal,
    CancelReturnModel
    // AddNewAddress
  },
  data() {
    return {
      addressList: [],
      isEditVisible: false,
      isModalVisible: false,
      addressToEdit: {},
      currentId: '',
      editableAddress: {},
      currencyList: [],
      addressToDelete: [],
      deletableAddress: '',
      deleted: {},
      edited: {}
    }
  },
  async asyncData({ app }) {
    try {
      const response = await app.$externalApi.getAllAddress()
      console.log(response.data.addresses)
      return { addressList: response.data.addresses }
    } catch (error) {
      console.log(error)
    }
  },
  // async asyncData({ app }) {
  //   try {
  //     const response = await app.$externalApi.getAllCountries()
  //     console.log(response.data)
  //     return { currencyList: response.data }
  //   } catch (error) {
  //     console.log(error)
  //   }
  // },
  methods: {
    openEdit(addressId) {
      // currentId = currid,
      this.addressToEdit = this.addressList.find(address => address.address_id === addressId)
      this.editableAddress = this.addressToEdit
      // console.log(this.editableAddress)
      // alert(this.editableAddress)
      this.isEditVisible = true
    },
    openDelete(addressdelId) {
      // currentId = currid,
      this.addressToDelete = this.addressList.find(address => address.address_id === addressdelId)
      this.deleteableAddress = this.addressToDelete.address_id
      // console.log(this.deleteableAddress)
      // alert(this.deletableAddress)
      this.isModalVisible = true
    },
    onConfirmEdit() {
      const updated = {
        first_name: this.editableAddress.first_name,
        last_name: this.editableAddress.last_name,
        email: 'stylabsinfo@gmail.com',
        line1: this.editableAddress.line1,
        line2: this.editableAddress.line2,
        pincode: this.editableAddress.pincode,
        city: this.editableAddress.city,
        zone: this.editableAddress.zone,
        country: this.editableAddress.country,
        mobile_number: this.editableAddress.mobile_number,
        phone_country_code: this.editableAddress.phone_country_code
      }
      // alert(updated.phone_country_code)
      this.$externalApi.editAddress(this.editableAddress.address_id, updated)
        .then((response) => {
          console.log(response)
          this.edited = response.data
          // alert(this.edited)
          this.isEditVisible = false
        })
    },
    onConfirmDelete() {
      // const url = endpoints.deleteAddress + this.deleteableAddress
      this.$externalApi.addressDelete(this.deleteableAddress)
        .then((response) => {
          console.log(response)
          this.deleted = response.data
          // alert(this.deleted)
          this.isModalVisible = false
          this.$router.go()
        })
    }
  }
}
</script>
