<template>
	<div class="col-md-9 profile_content_wrapper">
		<div class="profile_order_content profile_content_section">
			<!-- order block -->
			<div class="profile_order_header">
					<h3 class="profile_header_title">My Orders</h3>
					<!-- empty order block -->
					<div class="empty_order_block" style="display:none;">
							<span class="profile_header_subtitle">Sadly, you haven't placed any order til now.</span>
							<a href="#" class="primary_button profile_start_shopbtn">Start Shopping</a>
					</div>
					<!-- filled order block -->
					<div class="filled_order">
							<span class="profile_header_subtitle">Check the status and information regarding your online orders</span>

							<div class="order_details_card">
									<div class="order_details_header">
											<ul>
												<li>Order ID : <span class="order_id"> CD1892</span></li>
												<li>Placed on  <span class="order_placed_date"> 21 Jan 2019</span></li>
											</ul>
											<a href="#" class="profile_order_details_button">Details</a>
									</div>

									<div class="order_details_body">
										<div class="row">
												<div class="col-md-7">
														<div class="row">
															<div class="col-md-3 productCard">
																	<div class="productImg">
																		<figure>
																			<img src="https://image-cdn.styfi.in/cache/catalog/products/5b6d45f02e551b3e26e34368_1533898561064_0-376x470.jpg" alt="" srcset="">
																		</figure>
																	</div>
															</div>
															<div class="col-md-6">
																	<div class="order_product_info">
																			<span class="order_product_name futuraBook">MILITARY CHEST RIG / BUM BAG</span>
																			<span class="order_product_brand futuraBook">Navy</span>
																			<span class="order_product_size FuturaBTBook">Size : <span class="product_size">One Size</span> / Qty : <span class="product_quantity">1</span></span>
																		</div>
															</div>
															<div class="col-md-3">
																	<span class="order_product_price">₹ 4950</span>
															</div>
														</div>
													</div>
													<div class="col-md-5 order_delivery_status">
															<div class="order_status">
																	<span class="order_status_green">Order Placed</span>
																		<span class="order_delivery_date">Est Delivery By <span class="order_date">15 Dec 2018</span></span>
															</div>
															<a href="#" class="order_action">Return</a>
													</div>
										</div>
									</div>
							</div>

							<div class="order_details_card">
									<div class="order_details_header">
											<ul>
												<li>Order ID : <span class="order_id"> CD1892</span></li>
												<li>Placed on  <span class="order_placed_date"> 21 Jan 2019</span></li>
											</ul>
											<a href="#" class="profile_order_details_button">Details</a>
									</div>

									<div class="order_details_body">
										<div class="row">
												<div class="col-md-7">
														<div class="row">
															<div class="col-md-3 productCard">
																	<div class="productImg">
																		<figure>
																			<img src="https://image-cdn.styfi.in/cache/catalog/products/5b6d45f02e551b3e26e34368_1533898561064_0-376x470.jpg" alt="" srcset="">
																		</figure>
																	</div>
															</div>
															<div class="col-md-6">
																	<div class="order_product_info">
																			<span class="order_product_name futuraBook">MILITARY CHEST RIG / BUM BAG</span>
																			<span class="order_product_brand futuraBook">Navy</span>
																			<span class="order_product_size FuturaBTBook">Size : <span class="product_size">One Size</span> / Qty : <span class="product_quantity">1</span></span>
																		</div>
															</div>
															<div class="col-md-3">
																	<span class="order_product_price">₹ 4950</span>
															</div>
														</div>
													</div>
													<div class="col-md-5 order_delivery_status">
															<div class="order_status">
																		<span class="order_status_green">Order Delivered</span>
																		<span class="order_delivery_date">15 Dec 2018</span>
															</div>
															<a href="#" class="order_action">Return</a>
													</div>
										</div>
									</div>
							</div>
							<div class="order_details_card">
									<div class="order_details_header">
											<ul>
												<li>Order ID : <span class="order_id"> CD1892</span></li>
												<li>Placed on  <span class="order_placed_date"> 21 Jan 2019</span></li>
											</ul>
											<a href="#" class="profile_order_details_button">Details</a>
									</div>

									<div class="order_details_body">
										<div class="row">
												<div class="col-md-7">
														<div class="row">
															<div class="col-md-3 productCard order_prroductCard">
																	<div class="productImg">
																		<figure>
																			<img src="https://image-cdn.styfi.in/cache/catalog/products/5b6d45f02e551b3e26e34368_1533898561064_0-376x470.jpg" alt="" srcset="">
																		</figure>
																	</div>
															</div>
															<div class="col-md-6">
																	<div class="order_product_info">
																			<span class="order_product_name futuraBook">MILITARY CHEST RIG / BUM BAG</span>
																			<span class="order_product_brand futuraBook">Navy</span>
																			<span class="order_product_size FuturaBTBook">Size : <span class="product_size">One Size</span> / Qty : <span class="product_quantity">1</span></span>
																		</div>
															</div>
															<div class="col-md-3">
																	<span class="order_product_price">₹ 4950</span>
															</div>
														</div>
													</div>
													<div class="col-md-5 order_delivery_status">
															<div class="order_status">
																	<span class="order_status_green">Order Delivered</span>
																		<span class="order_delivery_date">15 Dec 2018</span>
															</div>
															<a href="#" class="order_action">Return</a>
													</div>
										</div>
									</div>
									<div class="order_details_body">
											<div class="row">
													<div class="col-md-7">
															<div class="row">
																<div class="col-md-3 productCard order_prroductCard">
																		<div class="productImg">
																			<figure>
																				<img src="https://image-cdn.styfi.in/cache/catalog/products/5b6d45f02e551b3e26e34368_1533898561064_0-376x470.jpg" alt="" srcset="">
																			</figure>
																		</div>
																</div>
																<div class="col-md-6">
																		<div class="order_product_info">
																				<span class="order_product_name futuraBook">MILITARY CHEST RIG / BUM BAG</span>
																				<span class="order_product_brand futuraBook">Navy</span>
																				<span class="order_product_size FuturaBTBook">Size : <span class="product_size">One Size</span> / Qty : <span class="product_quantity">1</span></span>
																			</div>
																</div>
																<div class="col-md-3">
																		<span class="order_product_price">₹ 4950</span>
																</div>
															</div>
														</div>
														<div class="col-md-5 order_delivery_status">
																<div class="order_status">
																		<span class="order_status_green">Order Delivered</span>
																		<span class="order_delivery_date">15 Dec 2018</span>
																</div>
																<a href="#" class="order_action">Return</a>
														</div>
											</div>
										</div>
							</div>
					</div>
			</div>
		</div>
		<div class="profile_address_content profile_content_section">
				<div class="profile_address_header">
						<h3 class="profile_header_title">My Orders</h3>
						<span class="profile_header_subtitle">Sadly, you haven't placed any order til now.</span>
				</div>
		</div>
	</div>
</template>

<script>
export default {
  layout: 'profile'
}
</script>
