<template>
    <div class="col-md-9 profile_content_wrapper">
      <div class="profile_order_content profile_content_section">
        <div class="profile_order_header">
         <h3 class="profile_header_title">My Orders</h3>
         <span class="profile_header_subtitle" v-if="orderList">Check the status and information regarding your online orders</span>
         <EmptyOrderList v-if="!orderList" />
         <OrderProduct v-else v-for="order in orderList" :key="order.order_id" :orderList="order" />
        </div>
        </div>
    </div>
</template>

<script>
import OrderProduct from './component/OrderProduct'
import EmptyOrderList from './component/EmptyOrderList'
export default {
  layout: 'profile',
  middleware: 'authenticated',
  components: {
    EmptyOrderList,
    OrderProduct
  },
  data() {
    return {
      orderList: {},
      details: {}
    }
  },
  async asyncData({ app }) {
    try {
      const response = await app.$externalApi.myOrders()
      console.log(response.data)
      return { orderList: response.data }
    } catch (error) {
      console.log(error)
    }
  }
}
</script>

<style>

</style>
