<template>
    <div class="col-md-9 profile_content_wrapper">
        <div class="profile_overview_content profile_content_section" style="display: block;">
        </div>
    </div>
</template>

<script>
export default {
  layout: 'profile',
  middleware: 'authenticated'
}
</script>
