<template>
              <div class="col-md-9 profile_content_wrapper">

                <div class="profile_address_content profile_content_section">
                    <div class="profile_address_header">
                        <h3 class="profile_header_title">Personal Details</h3>
                        <span class="profile_header_subtitle">You can access and modify your personal details</span>
                    </div>

                  <div class="profile_address_body">
                    <form action="" class="cart_address_form" style="display:block;">
                      <div class="row">
                        <div class="col-md-6 cart_custom_input">
                          <label for="" class="futuraMedium">*First Name</label>
                          <input
                            type="text"
                            v-model="detailsList.first_name"
                            class="form-control"
                            name="FirstName"
                            required>
                          <span class="error_msg" ref="FirstName">
                            {{ firstNameError }}
                          </span>
                        </div>
                        <div class="col-md-6 cart_custom_input">
                          <label for="" class="futuraMedium">*Last Name</label>
                          <input
                          type="text"
                          v-model="detailsList.last_name"
                          class="form-control"
                          name="LastName"
                          required>
                          <span class="error_msg" ref="LastName">
                            {{ lastNameError }}
                          </span>
                        </div>

                        <!-- <div class="col-md-6 cart_custom_input">
                          <label for="" class="futuraMedium">*Mobile Number</label>
                          <div class="mobile_number_wrapper">
                            <input type="number" class="form-control plus_number" placeholder="+91">
                            <input type="number" class="form-control" v-model="detailsList.mobile_number">
                          </div>
                          <span class="error_msg" ref="LastName">
                              {{ phoneNumberError }}
                            </span>
                        </div>

                        <div class="col-md-6 cart_custom_input">
                          <label for="" class="futuraMedium">*Date of Birth</label>
                          <input type="text" class="form-control" placeholder="dd/mm/yyyy" v-model="detailsList.dob">
                          <span class="error_msg" ref="LastName">
                              {{ dobError }}
                            </span>
                        </div> -->

                      </div>
                      <div class="cart_address_button">
                        <button class="primary_button continue_checkoutbtn" type="button" @click="updatePersonalDetails">Update Personal Details</button>
                      </div>
                    </form>
                  </div>

                </div>
                <CancelReturnModel v-if="isVisible" @close="isVisible = false">
                  <h3 slot="body" class="futuraMedium">Personal Details has been updated.</h3>
                </CancelReturnModel>
              </div>
</template>

<script>
import CancelReturnModel from './component/CancelReturnModel'
export default {
  layout: 'profile',
  middleware: 'authenticated',
  components: {
    CancelReturnModel
  },
  data() {
    return {
      fname: '',
      lname: '',
      dob: '',
      number: '',
      firstNameError: null,
      lastNameError: null,
      phoneNumberError: null,
      dobError: null,
      detailsList: {},
      output: {},
      isVisible: false
    }
  },
  methods: {
    validateFirstName(fname) {
      const lengthMsg = 'Name should be atleast 5 character'
      const charMsg = 'Name should contain only Alpha characters'
      this.firstNameError = !/[\w\s]{5}/i.test(fname.trim()) ? lengthMsg : !/^[A-Z\s]+$/i.test(fname.trim()) ? charMsg : null
    },
    validateLastName(lname) {
      const lengthMsg = 'Name should be atleast 5 character'
      const charMsg = 'Name should contain only Alpha characters'
      this.lastNameError = !/[\w\s]{5}/i.test(lname.trim()) ? lengthMsg : !/^[A-Z\s]+$/i.test(lname.trim()) ? charMsg : null
    },
    validateNumber(phonenum) {
      const lengthMsg = 'Phone number should be between 10 to 12 digits'
      this.phoneNumberError = !/^[0-9]{10}$/i.test(phonenum.trim()) ? lengthMsg : null
    },
    validateDob(dob) {
      const dobMsg = 'Please give in dd/mm/yyyy format'
      this.dobError = !/^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$/i.test(dob.trim()) ? dobMsg : null
    },
    validatePersonalDetails() {
      this.validateFirstName(this.detailsList.first_name)
      this.validateLastName(this.detailsList.last_name)
      this.validateNumber(this.detailsList.mobile_number)
      this.validateDob(this.detailsList.dob)
      return (!this.firstNameError && !this.lastNameError && !this.phoneNumberError && !this.dobError)
    },
    updatePersonalDetails() {
      if (this.validatePersonalDetails()) {
        this.updatePersonamapi()
      }
    },
    updatePersonamapi() {
      const data = {
        // email: this.detailsList.email,
        // mobile_number: this.detailsList.mobile_number,
        first_name: this.detailsList.first_name,
        last_name: this.detailsList.last_name
      }
      this.$externalApi.updatePersonaldet(data)
        .then((response) => {
          // console.log(response.data)
          // this.output = response.data
          this.isVisible = true
        })
    }
  },
  async asyncData({ app }) {
    try {
      const response = await app.$externalApi.getCustDetails()
      console.log(response.data)
      return { detailsList: response.data }
    } catch (error) {
      console.log(error)
    }
  }
}
</script>
