<template>
  <div>
    <div class="about_section">
      <div class="customWrapper">
        <h2 class="futuraHeavy about_tag">
          <i>
          Selfish is an independent clothing <br/>brand from Bombay. We are inspired <br/>by the underlying culture.
          </i>
        </h2>
      </div>
    </div>
    <div class="about_descWrapper">
      <div class="customWrapper">
        <div class="about_desc">
          <div>
            <div class="about_descSec">
              <h3 class="desc_heading futuraMedium">
                <i>
                  What We Believe In
                </i>
              </h3>
              <p class="futuraBook about_text">
                Selfish is an independent clothing brand from Bombay.
                We are inspired by the game and the athletes who play this sport.
                Our athletic wear and basics are designed and crafted with the utmost respect for quality and simplicity.
                Proud to be wholly manufactured in the India, we set out to bring you the very best in fabric, design and construction.
              </p>
            </div>
            <div class="about_descSec">
              <h3 class="desc_heading futuraMedium">
                <i>
                  Brand Direction
                </i>
              </h3>
              <p class="futuraBook about_text">
                Selfish is an independent clothing brand from Bombay.
                We are inspired by the game and the athletes who play this sport.
                Our athletic wear and basics are designed and crafted with the utmost respect for quality and simplicity.
                Proud to be wholly manufactured in the India, we set out to bring you the very best in fabric, design and construction.
              </p>
            </div>
            <div class="about_descSec">
              <h3 class="desc_heading futuraMedium">
                <i>
                  Why Selfish
                </i>
              </h3>
              <p class="futuraBook about_text">
                Selfish is an independent clothing brand from Bombay.
                We are inspired by the game and the athletes who play this sport.
                Our athletic wear and basics are designed and crafted with the utmost respect for quality and simplicity.
                Proud to be wholly manufactured in the India, we set out to bring you the very best in fabric, design and construction.
              </p>
            </div>
          </div>
          <div>
            <div class="about_descSec">
              <h3 class="desc_heading futuraMedium">
                <i>
                  About the team
                </i>
              </h3>
              <p class="futuraBook about_text">
                For Autumn/Winter 2018, EDWIN's dedication to legacy and disruption continues with another solid selection of fits, washes and treatments, retaining proud traditions of premium Japanese workmanship, blended with a forward-thinking attitude.
                <br/><br/>
                With a clear focus on outerwear this season, EDWIN take cues from military garments and gives them a practical, yet underground edge with the use of seasonal artwork, embroidery and woven patches, delivering a playful mix of Japanese tradition and forward-thinking attitude; a true celebration of craft and counterculture.
              </p>
            </div>
            <div class="about_descSec">
              <h3 class="desc_heading futuraMedium">
                <i>
                  What We Believe In
                </i>
              </h3>
              <p class="futuraBook about_text">
                Selfish is an independent clothing brand from Bombay.
                We are inspired by the game and the athletes who play this sport.
                Our athletic wear and basics are designed and crafted with the utmost respect for quality and simplicity.
                Proud to be wholly manufactured in the India, we set out to bring you the very best in fabric, design and construction.
              </p>
            </div>
          </div>
        </div>
        <div class="about_img">
          <figure>
            <img src="~/assets/images/aboutimg.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'AboutUS',
  layout: 'staticPage',
  mounted() {
    // used home wrapper and added extra class
    this.$el.parentElement.classList.remove('homeBanner')
    this.$el.parentElement.classList.add('about_wrapper')
  }
}
</script>
