<template>
  <div>
    <h2 class="policy_title futuraMedium">
      Frequently Asked Questions
    </h2>
    <div class="policy_content">
      <p class="policy_qn futuraMedium">
        What forms of payment do you accept ?
      </p>
      <p class="policy_ans futuraBook">
        Selfish gladly accepts Visa, Mastercard, American Express & PayPal.
      </p>
    </div>
    <div class="policy_content">
      <p class="policy_qn futuraMedium">
        How secure is the shop ?
      </p>
      <p class="policy_ans futuraBook">
        We use PayPal for online payments which automatically encrypts your confidential information in transit from your computer to ours using the Secure Sockets Layer protocol (SSL) with an encryption key length of 128-bits (the highest level commercially available).
      </p>
    </div>
    <div class="policy_content">
      <p class="policy_qn futuraMedium">
        Do I need a paypal account to shop from Selfish ?
      </p>
      <p class="policy_ans futuraBook">
        Nope, PayPal isn't necessary - although, if you already have a PayPal account you can definitely use it.
      </p>
    </div>
    <div class="policy_content">
      <p class="policy_qn futuraMedium">
        What form of currency do you accept ?
      </p>
      <p class="policy_ans futuraBook">
        If it was up to us we would only accept gold coins, however we are using US Dollars and do provide currency conversions on our site in Canadian Dollars, Euros and Indian Rupees.
      </p>
    </div>
    <div class="policy_content">
      <p class="policy_qn futuraMedium">
        What is your returns/exchange policy ?
      </p>
      <p class="policy_ans futuraBook">
        If you are not 100% happy with any product, Selfish will happily return or exchange your goods within 14 days of receipt. Any item returned must be in original condition with no signs of being worn or washed. Once we have received and inspected your return package, Selfish will process a refund or exchange. Unfortunately, we cannot refund any costs associated with original postage or handling. When returning an item please make sure that it is well packaged and posted with a tracking number, any damage to products during shipping will not be Selfish’s responsibility. We will not be responsible for any return shipping costs or any duty reimbursement in the case of international orders. You have 14 days after your receive the goods to make this happen!
      </p>
    </div>
    <div class="policy_content">
      <p class="policy_qn futuraMedium">
        What if I would like to revise my order ?
      </p>
      <p class="policy_ans futuraBook">
        We understand if you change your mind, however please let us know within 48 hours of your order placement date – Selfish will not be able to make changes on your shopping list once your goods have been shipped out.
      </p>
    </div>
    <div class="policy_content">
      <p class="policy_qn futuraMedium">
        What if I would like to cancel my order ?
      </p>
      <p class="policy_ans futuraBook">
        Are you sure though? If yes, please let us know within 48 hours and all will be clear.
      </p>
    </div>
  </div>
</template>
<script>
export default {
  name: 'FAQ',
  layout: 'policyLayout'
}
</script>
