<template>
  <div>
    <div class=" dspl-flex">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid-box">
        <div class="content-bx">
          <h1 class="ttl mr-t-60 futuraHeavy">Drop 0.</h1>
          <p class="para-1 futuraBook">For Autumn/Winter 2018, EDWIN's dedication to legacy and disruption continues
            with another
            solid selection of fits, washes and treatments, retaining proud traditions of premium Japanese workmanship,
            blended with a forward-thinking attitude.</p>
          <p class="para-1 futuraBook">With a clear focus on outerwear this season, EDWIN take cues from military
            garments and
            gives them a practical, yet underground edge with the use of seasonal artwork, embroidery and woven patches,
            delivering a playful mix of Japanese tradition and forward-thinking attitude; a true celebration of craft
            and counterculture.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid-box">
        <div class="content-bx"><img src="~/assets/images/rectangle.png"></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid-box">
        <div class="content-bx"> <img src="~/assets/images/bx2-1.png"></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid-box">
        <div class="content-bx hover-icon-box"><img src="~/assets/images/bx2-2.png">
          <div class="hover-icon bx-2-h1"> <i> + </i>
            <div class="content-box">
              <div>Friends &amp; Family Tee</div>
              <a href="#">Shop now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 grid-box">
        <div class="content-bx"><img src="~/assets/images/bx3-1.png"></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid-box">
        <div class="content-bx"><img src="~/assets/images/bx4-1.png">
          <div class="img-txt">
            <h1 class="futuraHeavy">I</h1>
            <p class="futuraBook">For Autumn/Winter 2018, EDWIN's dedication to legacy and disruption continues with
              another solid
              selection of fits, washes and treatments, retaining proud traditions of premium Japanese workmanship,
              blended with a forward-thinking attitude.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid-box">
        <div class="content-bx"><img src="~/assets/images/bx4-2.png">
          <div class="img-txt">
            <h1 class="futuraHeavy">II</h1>
            <p class="futuraBook">For Autumn/Winter 2018, EDWIN's dedication to legacy and disruption continues with
              another solid
              selection of fits, washes and treatments, retaining proud traditions of premium Japanese workmanship,
              blended with a forward-thinking attitude.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 grid-box">
        <div class="content-bx"><img src="~/assets/images/bx5-1.png"></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid-box">
        <div class="content-bx hover-icon-box"> <img src="~/assets/images/bx6-1.png">
          <div class="hover-icon bx-5-h1"> <i> + </i>
            <div class="content-box">
              <div>Friends &amp; Family Tee</div>
              <a href="#">Shop now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid-box">
        <div class="content-bx hover-icon-box"><img src="~/assets/images/bx6-2.png">
          <div class="hover-icon bx-6-h1"> <i> + </i>
            <div class="content-box">
              <div>Friends &amp; Family Tee</div>
              <a href="#">Shop now</a>
            </div>
          </div>
          <div class="hover-icon bx-6-h2"> <i> + </i>
            <div class="content-box">
              <div>Friends &amp; Family Tee</div>
              <a href="#">Shop now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="products">
      <div>
        <h1 class="bx-ttl">Shop Now</h1>
        <div class="dspl-flex">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 grid-box">
            <div class="content-bx">
              <div class="prd-bx">
                <div class="img-bx"><img src="~/assets/images/prd-1.png"></div>
                <div class="prd-txt">
                  <h5 class="prd-ttl futuraBook">SELFISH PARKA COAT</h5>
                  <p class="prd-sbttl futuraBook">Navy</p>
                  <p class="prd-prc futuraMedium"> <i>`</i> 3950</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 grid-box">
            <div class="content-bx">
              <div class="prd-bx">
                <div class="img-bx"><img src="~/assets/images/prd-2.png"></div>
                <div class="prd-txt">
                  <h5 class="prd-ttl futuraBook">MILITARY CHEST RIG / BUM BAG</h5>
                  <p class="prd-sbttl futuraBook">Navy</p>
                  <p class="prd-prc futuraMedium"><i>`</i> 3950</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 grid-box">
            <div class="content-bx">
              <div class="prd-bx">
                <div class="img-bx"><img src="~/assets/images/prd-3.png"></div>
                <div class="prd-txt">
                  <h5 class="prd-ttl futuraBook">CUSTOM NIKE AIR FORCE 1’s</h5>
                  <p class="prd-sbttl futuraBook">Black x Olive x Beige</p>
                  <p class="prd-prc futuraMedium"><i>`</i> 3950</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 grid-box">
            <div class="content-bx">
              <div class="prd-bx">
                <div class="img-bx"><img src="~/assets/images/prd-4.png"></div>
                <div class="prd-txt">
                  <h5 class="prd-ttl futuraBook">SELFISH PARKA </h5>
                  <p class="prd-sbttl futuraBook">Navy</p>
                  <p class="prd-prc futuraMedium"><i>`</i> 3950</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  name: 'LookBook'
}
</script>
