<template>
  <div>
    <h2 class="policy_title futuraMedium">
      Shipping & Returns
    </h2>
    <div class="policy_content">
      <p class="policy_qn futuraMedium">
        COURIER OPTIONS
      </p>
      <p class="policy_ans futuraBook">
        Standard parcels are sent with Royal Mail tracked 48h. Express or tracked deliveries will be sent using either DPD, Parcel Force or DHL depending on the size and weight of the items. Once the parcel is dispatched you will receive the relevant tracking information.
      </p>
    </div>
    <div class="policy_content">
      <p class="policy_qn futuraMedium">
        RETURNS
      </p>
      <p class="policy_ans futuraBook">
        If you’d like to return or exchange an item from your order you have 14 days from the date of receipt to notify us. On receipt of the returned item(s), your refund will be credited to the payment card used to make the purchase. Regrettably, any delivery costs will not be refunded (although some exceptions do apply).
      </p>
    </div>
    <div class="policy_content">
      <p class="policy_qn futuraMedium">
        RETURNS ADDRESS
      </p>
      <p class="policy_ans futuraBook">
        Unit C-601, 6th Floor, C-Wing,<br/>
        Lotus Corporate Park,<br/>
        Graham Firth Steel Compound,<br/>
        Western Express Highway,<br/>
        Goregaon (East), Mumbai 400 063.
      </p>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ShippingReturn',
  layout: 'policyLayout'
}
</script>
