<template>
  <div>
    <cart-header />
    <section class="mainContainer">
    <div class="customWrapper">
       <div class="row">
          <div class="cart_wrapper col-md-12">
            <div class="row">
              <div class="col-md-7 order-lg-1 order-sm-1 col-sm-6 order-second cart_form_section">
                <nuxt />
              </div>
              <div class="col-md-5 order-lg-2 order-sm-2 col-sm-6 order-first cart_order_section">
                <cart-overview />
              </div>
            </div>
          </div>
       </div>
    </div>
    </section>
    <footer-component />
  </div>
</template>
<script>
import CartHeader from '~/components/cartComponents/cartHeader'
import CartOverview from '~/components/cartComponents/cartOverview'
import FooterComponent from '~/components/footerComponent'
export default {
  components: {
    CartHeader,
    CartOverview,
    FooterComponent
  }
}
</script>

<style>

</style>
