<template>
  <div>
    <header-component />
    <section class="mainContainer">
      <div class="customWrapper row">
        <div class="col-md-3">
          <div class="sidebar_wrapper">
            <ul>
              <li><nuxt-link to="/pages/faq">FAQ's</nuxt-link></li>
              <li><nuxt-link to="/shippingandreturn">Shipping &amp; Returns</nuxt-link></li>
              <li><nuxt-link to="/termsandconditions">Terms &amp; Conditions</nuxt-link></li>
              <li><nuxt-link to="/privacypolicy">Privacy Policy</nuxt-link></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <nuxt />
        </div>
      </div>
    </section>
    <footer-component />
  </div>
</template>
<script>
import HeaderComponent from '~/components/headerComponent'
import FooterComponent from '~/components/footerComponent'
export default {
  components: {
    HeaderComponent,
    FooterComponent
  }
}
</script>

<style lang="scss" scoped>
  .customWrapper {
    padding-top: 80px;

    & .col-md-3 {
      display: flex;
    }
  }
  .sidebar_wrapper {
    justify-content: flex-start;
    border-right: 1px solid #F1F0F0;
    margin-top: 0;
    width: 100%;
    & ul {
      padding-left: 0;
    }
  }
</style>
