<template>
  <div>
    <header-component />
    <section class="mainContainer">
        <div class="container-fluid">
            <div class="row">
                <Menu />
                <nuxt />
            </div>
        </div>
    </section>
    <footer-component />
  </div>
</template>
<script>
import HeaderComponent from '~/components/headerComponent'
import FooterComponent from '~/components/footerComponent'
import Menu from '~/components/menu'
export default {
  components: {
    HeaderComponent,
    FooterComponent,
    Menu
  }
}
</script>
<style lang="scss" scoped>
  .mainContainer {
    /* background-color: rgba(239,240,244,1);
    background: linear-gradient(to right, rgba(239,240,244,1) 0%, rgba(239,240,244,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 71%, rgba(255,255,255,1) 100%); */

  }
</style>
