<template>
  <div>
    <header-component/>
    <section class="mainContainer">
      <div>
        <nuxt />
      </div>
    </section>
    <footer-component />
  </div>
</template>
<script>
import HeaderComponent from '~/components/headerComponent'
import FooterComponent from '~/components/footerComponent'
export default {
  components: {
    HeaderComponent,
    FooterComponent
  }
}
</script>
