<template>
  <modal-wrapper :show="show" :on-close="closeFn">
    <div class="cartPeek">
      <div class="cartPeek_header">
        <span class="cartPeek_title futuraMedium">
          <i class="icon"/>
          My Bag
        </span>
        <button class="icon closeBtn" @click="closeFn"> close </button>
      </div>
      <div v-if="bagCount" class="checkoutWrapper">
        <div class="cartPeek_products">
          <cart-product v-for="cartProd in $store.state.cart.cartProducts" :key="cartProd.sku" :prodData="cartProd" :removeBtn="true" @removeProduct="removeProduct(cartProd)"/>
        </div>
        <div class="cartPeek_BtnWrapper">
          <div class="cartPeek_price">
            <span class="futuraBook cartPeek_priceOverview">Order Value:
              <span v-html="$store.state.currency.currency_symbol"></span>
               {{ getTotalPrice ? getTotalPrice.value : 0 }}
            </span>
            <button class="btn btn-block blackBtn" @click="goToCart">
              Checkout
            </button>
          </div>
        </div>
      </div>
      <div v-else class="cartPeek_empty futuraBook">
        Your Bag is Empty
        <br/>
        <span class="btn" @click="closeFn">Continue Shopping</span>
      </div>
    </div>
  </modal-wrapper>
</template>
<script>
import { mapGetters, mapState } from 'vuex'
import CartProduct from '../cartComponents/cartProduct'
import ModalWrapper from './modalWrapper'
export default {
  name: 'CartPeek',
  components: {
    ModalWrapper,
    CartProduct
  },
  props: ['show'],
  data() {
    return {
      cartProducts: this.$store.state.cart.cartProducts
    }
  },
  methods: {
    closeFn() {
      this.$emit('closeCartPeek')
    },
    goToCart() {
      this.$emit('closeCartPeek')
      document.querySelector('body').classList.remove('modalOn')
      this.$router.push('/checkout/address')
    },
    removeProduct(product) {
      const data = {
        product_id: product.product_id,
        color_id: product.color_id,
        size_label: product.size_label,
        sku: product.sku
      }
      this.$store.dispatch('cart/removeProduct', data)
    }
  },
  computed: {
    ...mapGetters({
      getTotalPrice: 'cart/getTotalPrice',
      bagCount: 'cart/bagsProductCount'
    }),
    ...mapState(['currency'])
  }
}
</script>
