<template>
  <transition name="modalW">
    <div v-if="show" class="modal" @click="close">
      <div role="document" @click.stop>
        <slot />
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  name: 'ModalWrapper',
  props: ['show', 'onClose'],
  mounted() {
    console.log('hey im a modal wrapper')
  },
  methods: {
    close(e) {
      console.log(e)
      console.log(e.currentTarget)
      this.onClose()
    },
    addESCEvent() {
      document.addEventListener('keydown', this.escEvent, false)
    },
    removeESCEvent() {
      document.removeEventListener('keydown', this.escEvent, false)
    },
    escEvent(e) {
      if (this.show && e.keyCode === 27) {
        this.onClose()
      }
    }
  },
  watch: {
    show(val) {
      if (val) {
        document.querySelector('body').classList.add('modalOn')
        this.addESCEvent()
      } else {
        document.querySelector('body').classList.remove('modalOn')
        this.removeESCEvent()
      }
    }
  }
}
</script>
<style >
.modal{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: block;
}
.modalW-enter-active, .modalW-leave-active {
  transition: all .2s ease-in
}
.modalW-enter, .modalW-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
</style>
