<template>
  <div class="customWrapper">
    <div class="tagline futuraHeavy">
      It's Your Time
      To Be Selfish
    </div>
    <div class="sm-tagline">
      स्वार्थी | Drop 0 Summer 2019
    </div>
  </div>
</template>

<script>
export default {
  name: 'Main',
  layout: 'homeLayout'
}
</script>
