.profile_sidebar_nav {
  background: #f0f1f1;
  height: 100vh;
}

.profile_custom_height {
  height: 100vh;
}

.sidebar_wrapper {
  margin-top: 60px;
  display: flex;
  justify-content: center;

  & ul {
    padding-left: 80px;

    & li {
      list-style: none;
      margin-bottom: 30px;

      & a {
        font-family: 'futuraMedium';
        font-size: calc-rem(14);
        font-weight: 500;
        color: #878787;
      }
    }
  }
}

.profile_content_section {
  padding: 60px 0px 60px 60px;

  @include breakpoint-max(calc-rem(576)) {
    padding: 20px;
  }
}

.profile_overview_content {
  background: url('../../assets/images/profile_overview_banner.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.profile_content_wrapper {
  padding: 0;
}


.profile_header_title {
  margin-bottom: 30px;

  @include breakpoint-max(calc-rem(576)) {
    font-size: calc-rem(24);
  }
}

.profile_header_subtitle {
  display: block;
  padding-bottom: 60px;
  color: #887e7e;
  border-bottom: 1px solid #f5f5f7;

  @include breakpoint-max(calc-rem(576)) {
    font-size: calc-rem(14);
    padding-bottom: 20px;
  }

  a {
    color: #887e7e;

    &:hover {
      color: #887e7e;
    }
  }
}

.empty_order_block {
  display: inline-flex;
  flex-direction: column;
}


.profile_start_shopbtn {
  width: 200px;
}

.order_details_card {
  background: #f0f1f1;
  width: 90%;
  margin-bottom: 30px;
}

.order_details_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e4e4e4;

  & ul {
    padding: 0;
    margin: 0;
  }

  & li {
    list-style: none;
    float: left;
    display: flex;
    color: #000;
    font-size: calc-rem(14);
    margin-right: 30px;
    font-weight: 600;
  }
}

.order_id {
  color: #000;
  padding-left: 5px;
}

.order_placed_date {
  padding-left: 5px;
}

.profile_order_details_button {
  font-size: calc-rem(14);
  background: #000;
  line-height: 40px;
  width: 110px;
  color: #fff;
  text-align: center;
}

.order_details_body {
  padding: 25px 15px 5px 15px;
}

.order_prroductCard {
  margin-bottom: 0px;
}

.productSize {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.order_product_info {
  display: flex;
  flex-direction: column;
}

.order_product_name {
  font-size: calc-rem(12);
  margin-bottom: 5px;
  color: #000;
}

.order_product_brand {
  font-size: calc-rem(12);
  margin-bottom: 10px;
  color: #878787;
}

.order_product_size {
  font-size: calc-rem(12);
  color: #000;
}

.order_product_price {
  font-size: calc-rem(14);
  color: #000;
}

.order_delivery_status {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.order_status {
  display: flex;
  flex-direction: column;
}

.order_status_green {
  color: #75b859;
  font-size: calc-rem(12);
  letter-spacing: 0.3px;
}

.order_delivery_date {
  color: #878787;
  font-size: calc-rem(12);
}

.order_action {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  // border-bottom:1px solid #444; 
  cursor: pointer;
  font-size: 0.75rem;
  // color: #000;
  border-bottom: 1px solid #000;
  // padding-bottom: 5px;
  height: 20px;

  &:hover {
    text-decoration: none;
    color: #000;
  }
}

.profile_address_body {
  width: 70%;

  @include breakpoint-max(calc-rem(576)) {
    width: 100%;
  }
}

.add_address_button {

  @include breakpoint-max(calc-rem(576)) {
    width: 100% !important;
  }

  button {
    color: #000;
    border: 0;
    width: 100%;
  }
}

// profile edit address

.address_action_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0px;

  @include breakpoint-max(calc-rem(576)) {
    flex-direction: column;
  }
}

.edit_address_sec {
  display: flex;
  flex-direction: column;
  line-height: normal;
}

.edit_address_name {
  font-weight: 800;
  font-size: calc-rem(14);
  margin-bottom: 10px;
}

.edit_address {
  font-size: calc-rem(14);
  font-weight: 400;
  margin-bottom: 10px;
}

.edit_mobileno {
  font-size: calc-rem(14);
}

.edit_address_buttons {
  @include breakpoint-max(calc-rem(576)) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }

  button {
    background: #fff;
    border: 1px solid #000;
    font-size: calc-rem(14);
    width: 110px;
    line-height: 35px;
    cursor: pointer;

    @include breakpoint-max(calc-rem(576)) {
      width: 50%;
    }
  }
}

.address_edit_button {
  margin-right: 10px;
}

.cart_sidebar_nav {
  background: #eff0f4;

  @include breakpoint-max(calc-rem(992)) {
    display: none;
  }
}


/* =-=-=-=-=-=-=-=-=-=-=-=- By Abhaya=-=-=-=-=-=-=-=-=-=-=-==- */
.modal-container {
  @include breakpoint-range(calc-rem(320), calc-rem(768)) {
    width: 90%;
  }

  @include breakpoint-range(calc-rem(768), calc-rem(1024)) {
    width: 70%;
  }

  @include breakpoint-max(calc-rem(1024)) {
    width: 500px;
  }
}

.account-details {
  flex-direction: column
}