<template>
  <div v-show="selected">
    <div class="payment_card_form">
      <div class="row">
        <div class="col-md-10 cart_custom_input">
            <label for="" class="futuraMedium">
              *Card Number
            </label>
            <input type="text" class="form-control card" ref="card" @blur="onCardBlur">
            <span class="error cardError">{{cardError}}</span>
        </div>
        <div class="col-md-10 col-8 cart_custom_input">
          <label for="" class="futuraMedium">*Expiry Date</label>
          <div class="row">
            <div class="col-6">
              <select class="form-control" ref="month" id="expmonth" name="card_exp_month" @change="onMonthChange($event)">
                <option value="">Select a month</option>
                <option v-for="i in 12" :key="i" :value="i &lt; 10 ? ('0' + i.toString()) : i.toString()">{{(i&lt;10) ? ('0' + i.toString()) : i.toString()}}</option>
              </select>
            </div>
            <div class="col-6">
              <select class="form-control" ref="year" id="expyear" name="card_exp_year" @change="onYearChange($event)">
                <option value="">Select a year</option>
                <option v-for="i in 30" :key="i" :value="i + new Date().getFullYear() - 1">{{i + new Date().getFullYear() - 1}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-4 cart_custom_input">
            <label for="" class="futuraMedium">*CVV</label>
            <input
              type="password"
              class="form-control"
              @blur="onCvvBlur"
              name="card_security_code"
              id="cvv"
              v-model="cvv"
              maxlength="4">
            <span class="error cardError">{{cvvError}}</span>
        </div>
        <div class="col-md-7 cart_custom_input">
            <label for="" class="futuraMedium">*Card Holder Name</label>
            <input
              type="text"
              class="form-control"
              name="name_on_card"
              id="cardName"
              @blur="onNameBlur"
              v-model="name">
            <span class="error cardError">{{nameError}}</span>
        </div>
      </div>
      <div class="countinue_payment">
        <button type="button" class="primary_button continue_payment_button" @click="handlePayment">complete payment</button>
      </div>
      <a href="#" class="back_to_previous"> Back to shipping method</a>
    </div>
  </div>
</template>
<script>
import Cleave from 'cleave.js'
import mixin from './mixin'
const CardValidator = require('@juspay/simple-card-validator')
export default {
  name: 'Cards',
  mixins: [mixin],
  data() {
    return {
      name: '',
      cardNumber: null,
      month: '',
      year: '',
      cvv: '',
      cardCleave: null,
      cleaveOption: {
        creditCard: true,
        delimiter: '-'
      },
      cardObj: null,
      cardError: '',
      nameError: '',
      cvvError: '',
      errorCount: 0,
      selectedCard: null

    }
  },
  methods: {
    onCardSelected() {
      this.cardCleave = new Cleave('.card', {
        creditCard: true,
        delimiter: '-',
        onCreditCardTypeChanged: this.cardTypeChange
      })
      this.cardObj = new CardValidator('0000')
    },
    onCardBlur() {
      this.cardObj.cardNumber = this.cardCleave.getRawValue() !== '' ? this.cardCleave.getRawValue() : '000'
      const cardDetail = this.cardObj.getCardDetails()
      console.log(cardDetail)
      if (!cardDetail.length_valid && !cardDetail.valid) {
        this.cardError = 'Please enter valid card number'
      } else if (cardDetail.length_valid && !cardDetail.valid) {
        this.cardError = 'Entered card number is invalid'
      } else {
        this.cardError = ''
      }
    },
    onMonthChange($event) {
      this.month = $event.target.value
      if (this.year === '') {
        this.$refs.year.classList.add('errorOutline')
      } else if (!this.cardObj.validateExpiry(`${this.month}/${this.year}`)) {
        this.$refs.year.classList.add('errorOutline')
        this.$refs.month.classList.add('errorOutline')
      } else {
        this.$refs.year.classList.remove('errorOutline')
        this.$refs.month.classList.remove('errorOutline')
      }
    },
    onYearChange($event) {
      this.year = $event.target.value
      if (this.month === '') {
        this.$refs.month.classList.add('errorOutline')
      } else if (!this.cardObj.validateExpiry(`${this.month}/${this.year}`)) {
        this.$refs.year.classList.add('errorOutline')
        this.$refs.month.classList.add('errorOutline')
      } else {
        this.$refs.year.classList.remove('errorOutline')
        this.$refs.month.classList.remove('errorOutline')
      }
    },
    onNameBlur() {
      if (this.name.trim() === '') {
        this.nameError = 'Please provide name on the card'
      } else {
        this.nameError = ''
      }
    },
    onCvvBlur() {
      if (this.cvv === '') {
        this.cvvError = 'Provide the CVV number'
      } else if (this.cardObj.card === null) {
        this.cvvError = 'Provide Card to validate CVV'
      } else if (this.cardObj.card) {
        this.cvvError = this.cardObj.validateCvv(this.cvv) ? '' : 'Invalid CVV number'
      } else {
        this.cvvError = ''
      }
    },
    handlePayment() {
      this.errorCount = 0
      /* console.log(this.cardObj.cardNumber) */
      if (this.cardObj.cardNumber !== '') {
        /* console.log(this.cardObj) */
        if (!this.cardObj.getCardDetails().valid) {
          this.errorCount += 1
          this.cardError = 'Provide a valid card number'
        } else {
          this.cardError = ''
        }
      } else {
        this.errorCount += 1
        this.cardError = 'Provide a valid card number'
      }

      if (this.name.trim() === '') {
        this.errorCount += 1
        this.nameError = 'Provide name on the card'
      } else {
        this.nameError = ''
      }

      if (this.month !== '' && this.year !== '') {
        if (!this.cardObj.validateExpiry(`${this.month}/${this.year}`)) {
          this.$refs.month.classList.add('errorOutline')
          this.$refs.year.classList.add('errorOutline')
          this.errorCount += 1
        } else {
          this.$refs.month.classList.remove('errorOutline')
          this.$refs.year.classList.remove('errorOutline')
        }
      } else {
        this.$refs.month.classList.add('errorOutline')
        this.$refs.year.classList.add('errorOutline')
        this.errorCount += 1
      }

      if (this.cvv === '') {
        this.cvvError = 'Provide the CVV number'
        this.errorCount += 1
      } else if (this.cardObj.card === null) {
        this.cvvError = 'Provide Card to validate CVV'
        this.errorCount += 1
      } else if (this.cardObj.card) {
        if (!this.cardObj.validateCvv(this.cvv)) {
          this.cvvError = 'Invalid CVV number'
          this.errorCount += 1
        } else {
          this.cvvError = ''
        }
      } else {
        this.cvvError = ''
      }
      if (this.errorCount === 0) {
        this.initiatePayment(this.formObject())
      }
    },
    initiatePayment(obj) {
      this.$externalApi.initatePayment(obj)
        .then((response) => {
          window.location = response.data.url
        })
        .catch((error) => {
          console.log(error)
        })
    },
    formObject() {
      const dataObj = {}
      dataObj.order_id = this.$store.state.cart.orderID
      dataObj.payment_method = 'CARD'
      dataObj.payment_method_type = 'CARD'
      dataObj.justpay_customer_id = this.$store.state.cart.customerData.justpay_customer_id
      dataObj.card = {
        card_number: this.cardCleave.getRawValue(),
        card_exp_year: this.year,
        card_exp_month: this.month,
        card_security_code: this.cvv,
        name_on_card: this.name
      }
      return dataObj
    }
  },
  watch: {
    selected(val) {
      if (val) {
        this.$nextTick(() => {
          this.onCardSelected()
        })
      }
    }
  }
}
</script>
<style scoped>
  .error {
    color: #e7263d;
    font-size: 12px;
  }
  .cardError {
    display: block;
  }
  .errorOutline{
    border: 1px solid #e7263d;
  }
  .addnew__cards{
    text-align: center;
  }
  .existcard{
    width: auto;
    display: block;
    margin: 20px 5px;
  }
  .existingcards-sec{
    /* border:1px solid; */
    margin-bottom: 30px;
  }
  .savedcards_input{
    display: flex;
    margin-left: 10%;
    justify-content: space-between;
  }
  .entercvv-number{
    /* visibility: visible; */
    width: 48%;
    border-radius: 3px;
  }
  .existingcard-number{
    margin-bottom: .5rem;
    padding-left: 0;
    color:#c0c0c0;
    font-size: 13px;
  }
  .globalbtn{
    background: #C9A560;
  }
  .savedCard_btn {
    width: 48%;
    border-radius: 3px;
    cursor: pointer;
  }
  .savedCard_btn:hover {
    color:#fff;
  }
  .payment-tab-container{
    align-items: flex-start;
  }
</style>
