<template>
  <div id="NB" class="tab_content netbanking" v-show="selected">
    <!-- <div class="payheading">
      <p>Net Banking</p>
    </div> -->
  <div class="netbanking-container">
      <div class="netbanking-premium">
          <div class="netbanking-radiobtn" v-for="(banks, index) in preferredBanks" :key="index">
              <input
                type="radio"
                class="walletSelection"
                :id="banks.payment_method"
                :name="banks.payment_method_type"
                :value="banks.payment_method"
                v-model="bankSelected">
              <label :for="banks.payment_method">
                <span class="customRadiobtn"></span>
                <span class="bankIcon">
                  <img :src="banks.icon" alt="">
                </span>
                <span class="cust-radioname">{{banks.description}}</span>
              </label>
          </div>
      </div>
      <form  method="post" id="nbForm">
          <input type="hidden" id="NB" name="payment_method_type" value="NB" class="address-selection">
          <div class="bankdrpdwn">
              <select name="payment_method" class="form-control bankselect" v-model="bankSelected">
                <option value="">Select a bank</option>
                <option v-for="(bank, index) in allBanks" :key="index" :value="bank.payment_method">{{bank.description}}</option>
              </select>
          </div>
          <div class="netbanking-term">
              <p>We will redirect you to the bank website to complete the payment
              process
              </p>
          </div>
          <div class="netbank-paybtn">
            <span class="paymentError" id="nbError" ref="errorText">Please select the a Bank</span>
            <button type="button" class="primary_button continue_payment_button" @click="onPaymentClick">complete payment</button>
          </div>
      </form>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import mixin from './mixin'
export default {
  name: 'Netbanking',
  mixins: [mixin],
  data() {
    return {
      bankSelected: '',
      Name: ''
    }
  },
  methods: {
    onPaymentClick() {
      if (this.bankSelected) {
        this.initatePayment()
      } else {
        this.$refs.errorText.style.display = 'block'
      }
    },
    initatePayment() {
      this.$externalApi.initatePayment(this.formObject())
        .then((response) => {
          console.log(response)
          this.onPaymentData(response.data)
        })
        .catch((error) => {
          console.log(error)
        })
    },
    onPaymentData(data) {
      window.location = data.url
    },
    formObject() {
      const dataObj = {}
      dataObj.order_id = this.$store.state.cart.orderID
      dataObj.payment_method = this.bankSelected
      dataObj.payment_method_type = 'NB'
      dataObj.justpay_customer_id = this.$store.state.cart.customerData.justpay_customer_id
      dataObj.card = {}
      return dataObj
    }
  },
  computed: {
    ...mapGetters({
      preferredBanks: 'cart/getPreferredBanks',
      allBanks: 'cart/getAllBanks'
    })
  }
}
</script>
