<template>
  <div v-if="selected">
    <div class="payment_card_form">
      <div class="countinue_payment">
        <button
          class="primary_button continue_payment_button"
          @click="doPaypal"
        >
          complete payment
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import mixin from './mixin'
const LINKREL = 'approve'
export default {
  name: 'Paypal',
  mixins: [mixin],
  computed: {
    ...mapState({
      orderId: state => state.cart.orderID
    })
  },
  methods: {
    doPaypal() {
      const data = {
        order_id: this.orderId,
        payment_method_type: 'PAYPAL',
        payment_method: 'PAYPAL'
      }
      this.$externalApi.initatePayment(data)
        .then((response) => {
          this.onPaypalResponse(response.data.paypalOrderResponse.links)
        })
        .catch((error) => {
          console.log(error)
        })
    },
    onPaypalResponse(response) {
      const redirectLink = response.find(linkObj => linkObj.rel === LINKREL)
      window.location = redirectLink.href
    }
  }
}
</script>
