<template>
  <div v-if="selected">
    <div class="netbanking-container">
      <div class="netbanking-premium">
        <div class="netbanking-radiobtn" v-for="(wallet, index) in walletOptions" :key="index">
            <input
              type="radio"
              :id="wallet.payment_method"
              :name="wallet.payment_method_type"
              :value="wallet.payment_method"
              class="walletSelection"
              v-model="walletSelected">
            <label :for="wallet.payment_method">
              <span class="customRadiobtn" />
              <span class="bankIcon">
                <img :src="wallet.icon" alt="">
              </span>
              <span class="cust-radioname">{{wallet.description}}</span>
            </label>
        </div>
      </div>
      <div class="netbank-paybtn">
        <span class="paymentError" id="nbError" ref="errorText">Please select the a Wallet</span>
        <button type="button" class="primary_button continue_payment_button" @click="onPaymentClick">complete payment</button>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import mixin from './mixin'
export default {
  name: 'wallets',
  mixins: [mixin],
  data() {
    return {
      walletSelected: ''
    }
  },
  mounted() {
    console.log(this.walletOptions)
  },
  methods: {
    onPaymentClick() {
      if (this.walletSelected) {
        this.makeCardPayment()
      } else {
        this.$refs.errorText.style.display = 'block'
      }
    },
    makeCardPayment() {
      this.$externalApi.initatePayment(this.formObject())
        .then((response) => {
          console.log(response)
          this.onPaymentData(response.data)
        })
        .catch((error) => {
          console.log(error)
        })
    },
    onPaymentData(response) {
      if (this.walletSelected === 'PAYTM') {
        this.handlePATYM(response)
      } else {
        window.location = response.url
      }
    },
    handlePATYM(data) {
      const method = 'post'
      const form = document.createElement('form')
      form.setAttribute('method', method)
      form.setAttribute('action', 'https://secure.paytm.in/oltp-web/processTransaction')
      Object.keys(data).forEach((key) => {
        if (Object.prototype.hasOwnProperty.call(data, key)) {
          const input = document.createElement('input')
          input.setAttribute('type', 'hidden')
          input.setAttribute('name', key)
          input.setAttribute('value', data[key])
          form.appendChild(input)
        }
      })
      document.body.appendChild(form)
      console.log(form)
      form.submit()
    },
    formObject() {
      const dataObj = {}
      dataObj.order_id = this.$store.state.cart.orderID
      dataObj.payment_method = this.walletSelected
      dataObj.payment_method_type = 'WALLET'
      dataObj.justpay_customer_id = this.$store.state.cart.customerData.justpay_customer_id
      dataObj.card = {}
      return dataObj
    }
  },
  computed: {
    ...mapGetters({
      walletOptions: 'cart/getAllWallet'
    })
  }
}
</script>
