<template>
  <div class="address_selection_section">
    <div class="address_selection_input">
        <select name="" id="" class="form-control" @change="addressSelected($event)">
          <option value="" selected>Select An Address</option>
          <option v-for="address in addressList" :key="address.address_id" :value="address.address_id">
            {{ address.line1 }}
          </option>
        </select>
    </div>
  </div>
</template>
<script>
export default {
  name: 'CartAddresslist',
  props: ['addressList'],
  methods: {
    addressSelected(e) {
      const val = e.target.value
      console.log(val)
      if (val !== '') {
        this.$emit('onAddress', val)
      }
    }
  }
}
</script>
