<template>
  <div>
    <form @submit.prevent="saveAddress" autocomplete="false">
      <div class="row">
        <div class="col-md-6 cart_custom_input">
            <label for="fName" class="futuraMedium">*First Name</label>
            <input type="text" id="fName" class="form-control" v-model="firstName">
        </div>
        <div class="col-md-6 cart_custom_input">
          <label for="lName" class="futuraMedium">*Last Name</label>
          <input type="text" id="lName" class="form-control" v-model="lastName">
        </div>

        <div class="col-md-6 cart_custom_input">
          <label for="address1" class="futuraMedium">*Address Line 1</label>
          <input type="text" id="address1" class="form-control" v-model="line1">
        </div>
        <div class="col-md-6 cart_custom_input">
          <label for="address2" class="futuraMedium">Address Line 2</label>
          <input type="text" id="address2" class="form-control" v-model="line2">
        </div>

        <div class="col-md-6 cart_custom_input">
          <label for="pincode" class="futuraMedium">*Pincode</label>
          <input type="text" id="pincode" class="form-control" v-model="pincode">
        </div>
        <div class="col-md-6 cart_custom_input">
          <label for="city" class="futuraMedium">*City / District</label>
          <input type="text"  id="city" class="form-control" v-model="city">
        </div>

        <div class="col-md-6 cart_custom_input">
          <label for="state" class="futuraMedium">*State</label>
          <input type="text" id="state" class="form-control" v-model="state">
        </div>

        <div class="col-md-6 cart_custom_input">
          <label for="country" class="futuraMedium">*Country</label>
          <select name="" id="country" class="form-control" @change="countryChange" v-model="country">
            <option value='' hidden>Selecte A Country</option>
            <option v-for="country in countries" :key="country._id" :value="[country.phone_code, country.name]">{{country.name}}</option>
          </select>
        </div>

        <div class="col-md-6 cart_custom_input">
          <label for="mobile" class="futuraMedium">*Mobile number</label>
          <div class="mobile_number_wrapper">
            <input type="text" class="form-control plus_number" v-model="mobileCode" disabled/>
            <input type="mobile" id="mobile" class="form-control" v-model="mobile">
          </div>
        </div>
        <div class="col-md-12 countinue_payment">
          <button class="primary_button continue_payment_button" type="submit" :disabled="!checkValidation">Save New Address</button>
        </div>
        <div class="col-md-12">
          <button v-if="showCancel" type="button" class="btn back_to_previous futuraBook" @click="closeNewAddress">Back to shipping details</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  name: 'CartNewaddress',
  props: ['showCancel'],
  data() {
    return {
      firstName: '',
      lastName: '',
      line1: '',
      line2: '',
      pincode: '',
      city: '',
      city_id: '',
      state: '',
      zone_id: '',
      country: '',
      country_id: '',
      mobile: '',
      pincodeError: false,
      pincodeErrorTxt: '',
      mobileErrorTxt: '',
      countries: [],
      mobileCode: ''
    }
  },
  created() {
    this.populateCountries()
  },
  methods: {
    closeNewAddress() {
      /* this.$emit('closeNewAddress') */
      this.$router.push('/checkout/address')
    },
    populateCountries() {
      this.$externalApi.getAllCountries()
        .then((response) => {
          console.log(response)
          this.countries = response.data
        })
    },
    countryChange() {
      this.mobileCode = `+ ${this.country[0]}`
    },
    saveAddress() {
      const data = {
        first_name: this.firstName,
        last_name: this.lastName,
        email: 'stylabsinfo@gmail.com',
        line1: this.line1,
        line2: this.line2,
        pincode: this.pincode,
        city: this.city,
        zone: this.state,
        country: typeof this.country === 'object' ? this.country[1] : '',
        mobile_number: this.mobile,
        phone_country_code: typeof this.country === 'object' ? this.country[0] : ''
      }
      this.$externalApi.addressAdd(data)
        .then((response) => {
          if (Object.keys(response.data > 0)) {
            this.$router.push('/checkout/address')
          }
          // this.isVisible = false
          // alert(this.show)
        })
    }
  },
  computed: {
    checkMobile() {
      return /^([0|+[0-9]{1,3})?([7-9][0-9]{9})$/.test(this.mobile)
    },
    checkAddress() {
      return (this.line1 !== '' && this.name !== '')
    },
    checkPincode() {
      /* console.log(/^[1-9][0-9]{5}$/.test(this.pincode), !this.pincodeError); */
      return /^[1-9][0-9]{5}$/.test(this.pincode) && !this.pincodeError
    },
    checkCity() {
      return this.city !== ''
    },
    checkState() {
      return this.state !== ''
    },
    checkCounty() {
      return this.country !== ''
    },
    checkValidation() {
      return this.checkMobile && this.checkAddress && this.checkPincode && this.checkCity && this.checkState && this.checkCounty
    }
  }
}
</script>
