<template>
  <div>
    <div class="address_selection_output">
      <div class="address_selection_value" v-if="Object.keys(selectedAddress).length">
          <span class="futuraMedium selected_address_name">{{selectedAddress.first_name}} {{selectedAddress.last_name}}</span>
          <p class="selected_address">{{selectedAddress.line1}},{{selectedAddress.line2}}, {{selectedAddress.city}}-{{selectedAddress.pincode}}, {{selectedAddress.country}}</p>
          <span class="selected_address_mobileno">{{selectedAddress.mobile_number}}</span>
      </div>
      <div class="add_address">
          <button class="add_address_button" @click="newAddress">Add New Address</button>
      </div>
    </div>
    <!-- <div class="shipping_method_section">
        <h4 class="futuraMedium">Shipping method</h4>
        <ul class="proac-ul">
          <li>
            <input type="radio" name="shipping_method" class="proac-libx" id="shippingMethodOne">
            <label for="shippingMethodOne" class="proac-inrlabel">
              <div class="method_wrapper">
                  <div class="shipping_method_description">
                      <p class="futuraMedium">Standard Delivery - Estimate date - wed 09 - mon 21</p>
                      <p class="futuraBook">Free shipping on orders with regular priced items over USD 150.00. Not applicable to discounted, sale, Archives and print products.</p>
                  </div>
                  <div class="shipping_method_price">
                    <span class="futuraMedium">Rs 150</span>
                  </div>
              </div>
            </label>
          </li>

          <li>
              <input type="radio" name="shipping_method" class="proac-libx" id="shippingMethodTwo">
              <label for="shippingMethodTwo" class="proac-inrlabel">
                <div class="method_wrapper">
                    <div class="shipping_method_description">
                        <p class="futuraMedium">Standard Delivery - Estimate date - wed 09 - mon 21</p>
                        <p class="futuraBook">Free shipping on orders with regular priced items over USD 150.00. Not applicable to discounted, sale, Archives and print products.</p>
                    </div>
                    <div class="shipping_method_price">
                      <span class="futuraMedium">Rs 150</span>
                    </div>
                </div>
              </label>
            </li>
        </ul>
    </div> -->
    <div class="countinue_payment">
        <button
          class="primary_button continue_payment_button"
          type="button"
          @click="$emit('proceed')"
          :disabled="!(Object.keys(selectedAddress).length && toProceed)">continue to payment</button>
    </div>
    <!-- <a href="#" class="back_to_previous"> Back to shipping details</a> -->
  </div>
</template>
<script>
export default {
  name: 'CartAddressOverview',
  props: {
    selectedAddress: {
      type: Object,
      default() {
        return {}
      }
    },
    toProceed: {
      type: Boolean,
      default() {
        return true
      }
    }
  },
  methods: {
    newAddress() {
      this.$emit('newAddress')
    }
  }
}
</script>
