<template>
  <div>
    <ul class="proac-ul payment_method_list">
      <li v-for="(value, key, index) in modes" :key="key" :class="{active: selectedTab === index}" @click="changeTab(index)">
        <div class="method_wrapper">
          <div class="payment_method_description">
            <p class="futuraBook">
              {{ key === 'PAYPAL' ? value.payment_methods[0].description: value.payment_method_description }}
            </p>
          </div>
          <div class="payment_method_price">
            <span class="futuraMedium">
              <img :src="key === 'PAYPAL' ? value.payment_methods[0].icon : value.icon" >
            </span>
          </div>
        </div>
        <div class="payment_modesWrapper">
          <component :is="key" :key="key" :selected="index===selectedTab" :modeData="value" :name="value"/>
        </div>
      </li>
    </ul>
    <!-- <template v-for="(value, key, index) in modes">
      <component :is="key" :key="key" :selected="index===selectedTab" :modeData="value" :name="value"/>
    </template> -->
  </div>
</template>
<script>
import { mapState } from 'vuex'
const components = {
  'PAYPAL': () => import('./paymentModes/paypal'),
  'CARD': () => import('./paymentModes/cards'),
  'NB': () => import('./paymentModes/netbanking'),
  'WALLET': () => import('./paymentModes/wallets')
}
export default {
  name: 'PaymentTabs',
  components,
  data() {
    return {
      selectedTab: 0
    }
  },
  methods: {
    changeTab(val) {
      this.selectedTab = val
    }
  },
  computed: {
    ...mapState({
      modes: state => state.cart.paymentMode
    })
  },
  watch: {
    modes() {
      console.log(this.modes)
    }
  }
}
</script>
