.about_wrapper {
  height: auto;
}
.about_section {
  background: #000;
  padding-top: 180px;
  color: #FFF;
}
.about_tag {
  text-align: center;
  padding-bottom: 120px;
  font-size: calc-rem(35)
}
.about_descWrapper {
  background: #fff;
  color: #000;
}
.about_img {
  width: 100%;
  margin-top: 100px;

  & figure {
    width: 100%;
    position: relative;
    padding-top: calcPadding(1060, 596)

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.about_desc{
  display: flex;
  padding-top: 60px;
  & > div{
    width: 50%;
    padding: 0 20px;
  }
}
.desc_heading {
  font-size: calc(20);
  margin-bottom: 20px;
}
.about_text {
  font-size: calc(14);
}
.about_descSec {
  margin-bottom: 50px;
}