.pd-10 {
  padding: 10px;
}

.mr-t-60 {
  margin-top: 60px;
}

.dspl-flex {
  display: flex;
  flex-wrap: wrap;
}

/* .user-bx {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
}

.user-bx ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.user-bx li {
  display: inline-block;
}

.user-bx a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  margin: 0px 20px;
  display: block;
}

.user-bx i {
  width: 13px;
  height: 15px;
  background-size: 25px;
  display: block;
}

.user-bx li:last-child a {
  margin-right: 0;
} */
/* 
.user {
  background: url(../images/sprite.png) 1px 0 no-repeat;
}

.cart {
  background: url(../images/sprite.png) -12px 0 no-repeat;
} */

.content-bx {
  margin: 0 0px;
  & img {
    max-width: 100%;
  }
}

.grid-box {
  padding: 10px !important
}

.ttl {
  font-family: FuturaBT-Heavy;
  font-size: 40px;
}

.para-1 {
  font-size: 20px;
}

.hover-box {
  overflow: hidden;
  position: relative;
}

.hover-box:after {
  transition: 0.5s;
  content: "";
  background: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hover-box:hover:after {
  opacity: 0.4;
}

.hover-box:hover img {
  transform: scale(1.2);
}

.hover-box * {
  transition: 0.5s;
}

.hover-box:hover .img {
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
}

.hover-icon-box {
  position: relative;
}

.bx-2-h1 {
  bottom: 11%;
  right: 38%;
}

.bx-5-h1 {
  top: 46%;
  left: 36%;
}

.bx-6-h1 {
  top: 32%;
  right: 16%;
}

.bx-6-h2 {
  bottom: 30%;
  left: 50%;
}

.hover-icon {
  position: absolute;
}

.hover-icon i {
  font-style: normal;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.content-box {
  position: absolute;
  right: 100%;
  background: #fff;
  padding: 10px;
  top: 50%;
  transform: translate(-15px, -50%);
  margin: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0px 0px 5px 0px #CECECE;
}

.content-box:after {
  content: "";
  position: absolute;
  left: calc(100% - 5px);
  bottom: 41%;
  height: 10px;
  width: 10px;
  background: #fff;
  transform: rotate(45deg);
}

.content-box a {
  text-decoration: underline;
  color: #000;
  font-family: FuturaBT-Book;
  font-weight: bold;
}

.hover-icon:hover .content-box {
  opacity: 1;
  visibility: visible;
}

.container {
  max-width: 1280px;
  padding: 0 110px;
}

.img-txt h1 {
  font-size: 40px;
  margin: 30px 0;
}

.img-txt p {
  font-size: 14px;
  width: 57%;
  line-height: normal;
}

.products {
  margin-top: 60px;
}

.products .bx-ttl {
  font-size: 32px;
  font-family: FuturaBT-Book;
  margin: 0 0 30px 10px;
  font-weight: bold;
}

.prd-bx .img-bx {
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  overflow: hidden;
}

.prd-bx .img-bx {
  overflow: hidden;
}

.prd-bx .img-bx img {
  transition: 0.3s;
}

.prd-bx:hover {
  box-shadow: 0px 0px 17px 0px #D8D8D8;
  padding: 10px;
}

.prd-bx {
  transition: 0.3s;
}

.prd-txt {
  margin-top: 15px;
}

.prd-txt .prd-ttl {
  margin: 0 0 7px 0;
  font-size: 12px;
  transition: 0.3s;
}

.prd-txt .prd-sbttl {
  color: #878787;
  font-size: 12px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.prd-txt .prd-prc {
  font-size: 12px;
  margin: 0;
  transition: 0.3s;
}

.prd-txt .prd-prc i {
  font-family: Rupee_Foradian;
  font-style: normal;
}

.prd-bx:hover .prd-txt .prd-ttl {
  font-size: 80%;
}

.prd-link {
  text-align: center;
  margin: 50px;
}

.prd-link a {
  font-size: 18px;
  font-family: FuturaBT-Book;
  color: #000;
  text-decoration: underline;
  font-weight: bold
}

footer {
  background: #000;
  color: #fff;
  padding: 80px 0 65px 0;
}

.ftr-ttl {
  margin-bottom: 30px;
}

.newsletter {
  border: 1px solid #1e1e1e;
  display: inline-flex;
}

.newsletter button {
  background: none;
  border: none;
  border-left: 1px solid #1e1e1e;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.newsletter input[type="text"] {
  background: none;
  padding: 15px;
  font-size: 14px;
  border: none;
  color: #fff;
  width: 250px
}

.newsletter .sbt-btn {
  background: url(../images/arrow.png) 0 no-repeat;
  height: 15px;
  width: 8px;
  background-size: 8px;
  display: block;
}

.footer-nav {
  margin: 90px 0 0 0;
}

.ftr-navbx {
  width: 85%;
}

.ftr-navbx ul {
  list-style: none;
  padding: 0;
}

.ftr-navbx a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.ftr-navbx h4 {
  font-size: 35px;
  margin-bottom: 30px;
}

.copyright {
  font-size: 12px;
  color: #878787;
  margin: 90px 0 0 0;
}

.toggle-btn {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer
}

.toggle-btn span {
  height: 2px;
  width: 20px;
  background: #000;
  display: block;
  margin: 2px;
  position: relative;
  transition: 0.5s;
}

.toggle-btn span:after {
  content: "";
  height: 2px;
  width: 20px;
  background: #000;
  position: absolute;
  bottom: 6px;
  left: 0px;
  transition: 0.5s;
}

.toggle-btn span:before {
  content: "";
  height: 2px;
  width: 20px;
  background: #000;
  position: absolute;
  top: 6px;
  left: 0px;
  transition: 0.5s;
}

.close-btn {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer
}

.close-btn span {
  height: 2px;
  width: 20px;
  background: transparant;
  display: block;
  margin: 2px;
  position: relative;
  transition: 0.5s;
}

.close-btn span:after {
  content: "";
  height: 2px;
  width: 20px;
  background: #000;
  position: absolute;
  bottom: 6px;
  left: 0px;
  transform: rotate(45deg);
  bottom: 0;
  transition: 0.5s;
}

.close-btn span:before {
  content: "";
  height: 2px;
  width: 20px;
  background: #000;
  position: absolute;
  top: 6px;
  left: 0px;
  transform: rotate(-45deg);
  top: 0;
  transition: 0.5s;
}

.mobile-menu-btn,
.close-menu-btn {
  display: none;
}

@media (min-width: 1120px) and (max-width: 1199px) {
  .container {
    padding: 0 90px;
  }
}

@media (min-width: 1024px) and (max-width: 1119px) {
  .container {
    padding: 0 60px;
  }
}

@media (min-width:992px) and (max-width:1023px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .img-txt p {
    width: 80%
  }
}

@media (min-width:768px) and (max-width:991px) {
  .container {
    padding: 0 35px;
  }

  .ttl {
    font-size: 30px;
    margin-top: 20px
  }

  .para-1 {
    font-size: 16px;
  }

  .img-txt h1 {
    font-size: 30px;
  }

  .img-txt p {
    width: 100%;
  }

  .ftr-navbx h4 {
    font-size: 25px;
  }

  .products {
    margin-top: 40px;
  }

  .products .bx-ttl {
    font-size: 30px;
    margin: 0 0 20px 10px;
  }

  .prd-bx:hover {
    box-shadow: 0px 0px 10px 0px #D8D8D8;
    padding: 5px;
  }

  .prd-txt .prd-ttl {
    font-size: 11px;
  }

  .prd-bx:hover .prd-txt .prd-ttl {
    font-size: 11px;
  }

  .grid-box {
    padding: 5px !important;
  }
}

@media (min-width:320px) and (max-width:767px) {
  .container {
    padding: 0 10px;
  }

  .ttl {
    font-size: 20px;
    margin-top: 30px
  }

  .para-1 {
    font-size: 12px;
  }

  .grid-box {
    padding: 5px !important;
  }

  .img-txt h1 {
    font-size: 20px;
    margin: 15px 0;
  }

  .img-txt p {
    width: 100%;
    font-size: 12px;
  }

  .products {
    margin-top: 30px;
  }

  .products .bx-ttl {
    font-size: 20px;
    margin: 0 0 10px 10px;
  }

  .prd-bx,
  .prd-bx:hover {
    box-shadow: 0px 0px 3px 0px #B6B6B6;
    padding: 5px;
  }

  .prd-bx:hover .prd-txt .prd-ttl {
    font-size: 12px;
  }

  .prd-link {
    text-align: center;
    margin: 20px;
  }

  footer {
    padding: 30px 0 25px 0;
  }

  .ftr-ttl {
    font-size: 14px;
  }

  .footer-nav {
    margin: 30px 0 0 0;
  }

  .ftr-navbx {
    width: 100%;
  }

  .ftr-navbx .row {
    margin: 0
  }

  .ftr-navbx .row .col-xs-12 {
    padding: 0
  }

  .ftr-navbx h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .ftr-navbx a {
    font-size: 12px;
  }

  .copyright {
    margin: 20px 0 0 0;
  }
}

@media (min-width:320px) and (max-width:768px) {

  .bx-5-h1 .content-box {
    right: 0%;
    top: 100%;
    transform: translate(43%, 20%);
  }

  .bx-5-h1 .content-box:after {
    bottom: calc(100% - 5px);
    left: 47%;
  }
}

@media (min-width:320px) and (max-width:635px) {
  .mobile-menu-btn {
    display: inline-flex;
    flex-grow: 1;
    flex-direction: row-reverse;
    align-items: end;
  }

  .nav-bar.active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

  .nav-bar {
    flex-grow: 0;
  }

  .active .overlap {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .8s;
  }

  .navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 15px));
  }

  .navigation li {
    display: block;
  }

  .user-bx {
    display: block;
    position: absolute;
    bottom: 15px;
    width: 100%;
    border-top: 1px solid #ddd;
    padding-top: 15px;
  }

  .user-bx ul {
    justify-content: space-around;
  }

  .user-bx li:last-child a {
    margin: 0 20px
  }

  .nav-content {
    background: #fff;
    padding: 10px;
    top: 0;
    left: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    position: fixed;
    transition: all.8s;
    z-index: 1003;
    display: block;
  }

  .active .nav-content {
    position: absolute;
    left: 0;
    transition: all .8s;
    top: 0;
    padding: 0;
  }

  .mobile-box {
    padding: 10px 0;
  }

  .toggle-btn {
    padding: 5px 0;
  }

  .close-menu-btn {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 5px 0 0;
  }

  .fx-bd {
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width:320px) and (max-width:575px) {
  .ttl {
    margin-top: 0;
  }


}
