.policy_title {
  font-size: calc-rem(24);
  margin-bottom: 60px;
}
.policy_content {
  margin-bottom: 40px;
}
.policy_qn {
  font-size: calc-rem(14);
  margin-bottom: 10px;
}
.policy_ans {
  font-size: calc-rem(14);
  color: #878787;
}