.pdpWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* Prod InfoWrapper */
.pdpInfoWrapper {
  width: 100%;
  @include breakpoint-min(calc-rem(768)) {
    width: 340px;
  }
}
.prodInfoSection {
  font-size: calc-rem(14);
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $borderColor;
  &:last-child {
    border-bottom: none;
  }
}
.prodName {
  @include prodInfoSpans();
  text-transform: uppercase;
}
.prodColorName {
  @include prodInfoSpans(false);
  text-transform: capitalize;
}
.prodPrice {
  @include prodInfoSpans();
}
.prodInfo{
  color: $secondryColor;

  & #prodContent {
    font-size: calc-rem(10);
    margin-bottom: 0;
  }
}
.prodSectionTitle {
  @include prodInfoSpans();
  justify-content: space-between;
}

#sizeTxt {
  text-decoration: underline;
  cursor: pointer;
  font-size: calc-rem(13);
  font-family: 'futuraBook';
}
.attributeList {
  margin: none;
  list-style: none;
  padding: 0;
  & li {
    min-width: 30px;
    height: 30px;
    color: $primaryColor;
    display: inline-flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
  }
}
.productClr {
  & li {
    border: 1px solid;
    overflow: hidden;
    & i{
      display: block;
      width: 100%;
      height: 100%;
      background: #ccc;
      border-radius: 50%;
    }
    &.selected {
      & i{
        transform: scale(.8)
      }
    }
  }
}
.size {
  & li {
    border: 1px solid $primaryColor;
    overflow: hidden;
    & button{
      border:none;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background: transparent;
      text-transform: uppercase;
      &:disabled{
        color: #000;
        cursor: not-allowed;
      }
    }
  }
}
.outOfStock {
  opacity: .6;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: #000;
    transform: rotate(45deg);
  }
}
.selectedSize {
  & button {
    background: #000 !important;
    color: #fff;
  }
  
}
.prodDelivery {
  
}
#deliverCondition {
  color: $secondryColor;
  list-style: none;
  margin: 0;
  padding: 0;
}
#shippingDetails{
  color: $primaryColor;
  font-size: calc-rem(13);
  text-decoration: underline;
  font-family: 'futuraBook';
  margin-top: 10px;
  display: inline-block;
  &:hover {
    color: $primaryColor;
  }
}

#prodCare {
  list-style: none;
  margin: 0;
  padding: 0;

  & li{
    display: inline-block;
    width: 31px;
    height: 31px;
    margin-right: 10px;
    &#care1 {
      background-position: -131px -3px;
    }
    &#care2 {
      background-position: -183px -4px;
    }
    &#care3 {
      background-position: -233px -3px;
    }
    &#care4 {
      background-position: -280px -3px;
    }
    &#care5 {
      background-position: -323px -4px;
    }
  }
}
/* pdp image */
.pdpImgWrapper {
  @include pdpImg-container();
  @include pdpImg-container-max-width();
}
.pdpThumb {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top:40px;
  left: 20px;
  z-index: 1;
  & li {
    width: 40px;
    margin-top: 10px;
    cursor: pointer;
    &.active{
      & figure {
        & img {
          opacity: 1;
        }
      }
    }
    & figure {
      position: relative;
      padding-top: 125%;
      margin: 0;
      background: rgba(0,0,0,.5);
      & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: .5;
      }
    }
  }
}

.pdpImg {
  position: relative;
  background: $pdpBg;
  text-align: center;
  & figure {
    padding-top: calcPadding(330, 413);
    @include breakpoint-min(calc-rem(996)) {
      padding-top: calcPadding(1920, 1600);
    }
    & img {
      position: absolute;
      height: 100%;
      top:0;
      margin: auto;
      left: 0;
      right: 0;
    }
  }
}

/* similar Products */
.similarProducts {
  margin-top: 80px;
  & h3 {
    font-family: 'futuraMedium';
    font-size: calc-rem(20);
    @include breakpoint-min(calc-rem(768)) {
      font-size: calc-rem(20);
    }
  }
}
.similarProdWrapper {
  margin-top: 30px;
  display: flex;
  overflow-x: scroll;
  margin-left: -$default-gutter;
  margin-right: -$default-gutter;
  
  & .productCard{
    max-width: 45%;
    padding-left: $default-gutter; 
    padding-right: $default-gutter;
    flex: 0 0 45%;
  }
  @include breakpoint-min(calc-rem(768)) {
    margin-top: 50px;
    /* & .productCard{
      max-width: 33.333%;
      flex: 0 0 33.333%;
    } */
  }
  @include breakpoint-min(calc-rem(996)) {
    overflow-x: unset;
    & .productCard{
      max-width: 25%;
      flex: 0 0 25%;
    }
  }
  @include breakpoint-min(calc-rem(1400)) {
    
  }
}
.shake-size {
  animation: shake-list 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
@keyframes shake-list {
10%,
90% {
  -webkit-transform: translate3d(-1px, 0, 0);
  transform: translate3d(-1px, 0, 0);
}
20%,
80% {
  -webkit-transform: translate3d(2px, 0, 0);
  transform: translate3d(2px, 0, 0);
}
30%,
50%,
70% {
  -webkit-transform: translate3d(-4px, 0, 0);
  transform: translate3d(-4px, 0, 0);
}
40%,
60% {
  -webkit-transform: translate3d(4px, 0, 0);
  transform: translate3d(4px, 0, 0);
}
}
.prodFaq a{
  color: #000;
  text-decoration: underline
}

/* desktop lightbox*/
.desktopLightboxWrapper {
  position: fixed;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  z-index: 9999;
  background: $pdpBg;
}
.lightboxImgWrapper {
  min-width: 50%;
  height: 100%;
  cursor: url('../images/close.svg'), auto;
  & figure {
    margin: 0 auto;
    height: 100%;
    & img {
      height: 100%;
      transform: translateX(-50%);
      margin-left: 50%;
    }
  }
}
.lightBoxThumbs {
  position: absolute;
  top: 30px;
}
.lightBoxTbumbsList {
  list-style: none;
  & li {
    width: 50px;
    margin-top: 25px;
    & figure {
      position: relative;
      padding-top: 125%;
      margin: 0;
      & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }
}

.next-enter {
  opacity: 0;
  transform: translateX(-100px);
}
.next-enter-active, .next-leave-active {
  transition: opacity .5s, transform .5s;
}
.next-enter-to {
  opacity: 1;
  transform: translateX(0px);
}
.next-leave-to {
  opacity: 0;
  transform: translateX(100px);
}

.prev-enter {
  opacity: 0;
  transform: translateX(100px);
}
.prev-enter-active, .prev-leave-active {
  transition: opacity .5s, transform .5s;
}
.prev-enter-to {
  opacity: 1;
  transform: translateX(0px);
}
.prev-leave-to {
  opacity: 0;
  transform: translateX(-100px);
}

.nextPrev{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Mobile Slider */
.sliderWrapper {
  position: fixed;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  z-index: 9999;
  background: $pdpBg;
}
.carouselImgWrapper {
  width: 100%;
  position: relative;
  margin-top: 30px;
  & figure {
    position: relative;
    width: 90%;
    padding-top: 125%;
    margin: auto;
    & img {
      position: absolute;
      top:0 ;
      bottom: 0;
      width: 100%;
    }
  }
}

#closeBtn {
  width: 32px;
  height: 32px;
  opacity: 1;
  border-radius: 50%;
  box-shadow: -2px 0px 3px 0px rgba(0,0,0,.5);
  color: #000;
  margin: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
